.decoration-grid
  section.decoration-section.decoration-section1
    .decoration-col
      .positioned-images
        img(src="assets/images/decorations/eggs.png", alt="eggs").img1
        img(src="assets/images/decorations/black- paper.png", alt="black paper").img2
      .label-box
        .label-box-inner
          .label-box-content
            span.number-decorated 1
            strong.subtitle BIEN
            h1.title sélectionner
            p C’est le début d’une belle histoire
      .text-holder
        p À l’origine d’un plat sain et plein de saveurs, il y a des ingrédients de qualité. Chez Marie, nous choisissons ce que la terre a de mieux à nous offrir, au plus proche de chez nous.  
        p C’est pourquoi aujourd’hui, 100% des viandes qui composent nos recettes sont d’origine France. La tendreté et le subtil goût persillé de nos burgers s’expliquent - par exemple - par notre 
        .bottom-text 
          p Et pour nos quiches et nos tartes, nous optons exclusivement pour des œufs de poules élevées en plein air. Et nous ne comptons pas nous arrêter là ! D’ici 2020, cet engagement s’étendra à l’ensemble de nos recettes.
          strong.marked COMME ÇA COMPTE POUR VOUS, C’EST ESSENTIEL POUR NOUS !
        .img-holder
          img(src="asets/images/decorations/chicken.png", alt="chickens image")
      .text-holder.decorated.red
        strong.title Des tomates qui sentent bon le Sud ! 
        p Pour faire des tomates farcies dignes de vos propres recettes de famille, nous sélectionnons des tomates fraîches provenant du bassin méditerranéen. Elles sont coupées et vidées dans notre atelier et - tout comme la farce - cuisinées le jour-même. 
    .decoration-col
          .positioned-image
            img(src="assets/images/decorations/basilic.png", alt="paper").img1
            img(src="assets/images/decorations/paper.png", alt="paper").img2
            img(src="assets/images/decorations/viande-logo.png", alt="viande").img3
            img(src="assets/images/decorations/tomatoes-hand.png", alt="basilic").img4
          .text-holder.text-center
            h3.dacorated-title  
            p Qualité + proximité = plaisir décuplé !



