.decoration-grid
  .container
    section.decoration-section.decoration-section1
      .positioned-images
        img(src="assets/images/decorations/eggs.png", alt="eggs").img1
        img(src="assets/images/decorations/paper.png", alt="paper").img2
        img(src="assets/images/decorations/basilic.png", alt="paper").img3
        img(src="assets/images/decorations/black-paper.png", alt="black paper").img4
        img(src="assets/images/decorations/tomatoes-hand.png", alt="basilic").img5
      .decoration-col.col-l
        .label-box.wow.swing(data-wow-duration="1.5s" data-wow-delay="0.5s")
          .label-box-inner
            .label-box-content
              span.number-decorated 1
              h3.subtitle BIEN
              h1.title sélectionner
              p C’est le début d’une belle histoire
        .wshadow
          .text-holder
            p À l’origine d’un plat sain et plein de saveurs, il y a des ingrédients de qualité. Chez Marie, nous choisissons ce que la terre <br> a de mieux à nous offrir, au plus proche de chez nous.  
            p C’est pourquoi aujourd’hui, 100% des viandes qui composent nos recettes sont d’origine France. La tendreté et le subtil goût persillé de nos burgers s’expliquent - par exemple - par notre 
            .bottom-text 
              .img-holder
                img(src="assets/images/decorations/chicken.png", alt="chickens image")
                .img-caption 
                  strong Zéro OGM : 
                  span chez Marie, qualité rime avec responsabilité, transparence et naturalité.
              p Et pour nos quiches et nos tartes, nous optons exclusivement pour des œufs de poules élevées en plein air. Et nous ne comptons pas nous arrêter là ! D’ici 2020, cet engagement s’étendra à l’ensemble de nos recettes.
              strong.marked COMME ÇA COMPTE POUR VOUS, C’EST ESSENTIEL POUR NOUS !
        .text-holder.decorated-red
          strong.title Des tomates qui sentent bon le Sud ! 
          p Pour faire des tomates farcies dignes de vos propres recettes de famille, nous sélectionnons des tomates fraîches provenant du bassin méditerranéen. Elles sont coupées et vidées dans notre atelier et - tout comme la farce - cuisinées le jour-même. 
      .decoration-col.col-r
        .text-small
          img(src="assets/images/decorations/viande-logo.png", alt="viande").img5
          .text-box
            h3.decorated-title Viandes 100% origine France 
            p Qualité + proximité <br> = plaisir décuplé !
    section.decoration-section.decoration-section2
      .positioned-images
        img(src="assets/images/decorations/parslay.png", alt="parslay").img1
      .decoration-col.col-l
        .img-text-holder
          .img-holder
            img(src="assets/images/decorations/product1.png", alt="product").img1
          .text-holder.decorated-red
            strong.title Bon à manger ET beau à voir.
            p Parce que le plaisir de déguster passe aussi par les yeux, les viandes de notre atelier de Sablé-sur-Sarthe rôtissent dans un four de braisage. En plus de leur apporter une jolie couleur de rôtissage, cette cuisson lente garantit un goût plus prononcé tout en préservant la tendreté des viandes.
      .decoration-col.col-r
        .label-box.wow.swing(data-wow-duration="1.5s" data-wow-delay="0.5s")
          .label-box-inner
            .label-box-content
              span.number-decorated 2
              h3.subtitle BIEN
              h1.title préparer
              p p C’est le début d’une belle histoire
        .wshadow
          .text-holder
            p Choisir les meilleurs ingrédients implique naturellement de les travailler avec soin. C’est ce que nous faisons a u quotidien, au cœur de nos six ateliers, tous implantés en France.   
            p Lorsque le produit l’exige, c’est à la main que se fait la découpe comme c’est le cas pour notre célèbre cabillaud sauce citron. 
            p Pour le respect de la qualité, quoi de mieux qu’une préparation maison : nous hachons les viandes (d’origine France) de nos hachis Parmentier et lasagnes surgelées dans nos ateliers.
            p Et comme vous, nous aimons la simplicité. Nos pâtes à dérouler pur beurre en sont le parfait exemple : seulement 5 ingrédients, 100% naturels.
            strong.marked RESPECTER LES INGRÉDIENTS, C’EST CÉLÉBRER LA BONNE CUISINE, LA VRAIE. 
      .img-row
        .info-hand
          img(src="assets/images/decorations/info-hand.png", alt="info-hand").img1
          .text-holder
            strong Sans additifs, <br> pour 100% de nos recettes
            p La simplicité est la clé de la bonne cuisine.

        img(src="assets/images/decorations/lauro.png", alt="lauro").img2
        img(src="assets/images/decorations/lemon.png", alt="lemon").img3.wow.slideInRight(data-wow-duration="1s" data-wow-delay="0.5s")
    section.decoration-section.decoration-section3
      .decoration-col.col-l
        .decorated-images
          img(src="assets/images/decorations/tomatoes1.png", alt="").img1
          img(src="assets/images/decorations/garlic.png", alt="").img2
        .label-box.wow.swing(data-wow-duration="1.5s" data-wow-delay="0.5s")
          .label-box-inner
            .label-box-content
              span.number-decorated 3 
              h3.subtitle BIEN
              h1.title cuisiner
              p C’est garantir le plaisir <br> de bien manger...Mmhh!
        .wshadow
          .img-text-holder
            .text-holder
              p Vous avez peu de temps pour cuisiner ?Alors, confiez-nous la responsabilité de vous proposer des plats qui célèbrent l’art de la bonne cuisine ; des recettes toujours plus savoureuses et authentiques.
              p Chez Marie, nos lasagnes surgelées sont cuisinées avec des pâtes fraîches, fabriquées dans nos ateliers. La viande est hachée sur place, et pour la sauce nous prenons le temps de faire revenir nos oignons, nous ajoutons les ingrédients un à un, avant de laisser lentement réduire. C’est peut-être un détail pour vous, mais pour nous ça veut dire beaucoup.
              p Cette histoire d’amour entre vous, nous et la bonne cuisine, c’est tous les jours que nous l’écrivons.
      .decoration-col.col-r
        img(src="assets/images/decorations/product2.png", alt="").product-img
        .decorated-images
          img(src="assets/images/decorations/tomatoes2.png", alt="").img2
          .info-hand
            img(src="assets/images/decorations/info-hand-right.png", alt="info-hand").img1
            .text-holder
              strong 30 minutes à 180°C
              p C’est le secret le moins bien gardé derrière notre savoureux hachis Parmentier et nos gratins frais… dorés dans un four traditionnel. 
      .bottom-row
        img(src="assets/images/decorations/souse.png", alt="souse").wow.rotate30.animation-opacity(data-wow-duration="1.2s" data-wow-delay="0.2s" data-wow-offset="150")
        .text-holder.decorated-red
          strong.title Ça change tout … au goût !
          p Chez Marie, c’est notre savoir-faire culinaire qui relève nos plats. Nous agrémentons nos recettes d’épices, herbes et aromates : cuisse de poulet rôtie avec un jus au thym, la tarte chèvre relevée d’une pincée de cumin et de curry…
    .section-headline
      h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="3.5s" data-wow-delay="0s" data-wow-offset="150") Découvrez également pourquoi
      h1.h1.wow.fadeIn.animation-opacity(data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="150") c’est bon pour vous.
      a(href="#").btn.btn-red découvrir
