section.environnement-section.additional-indents
  .container-fluid
    .text-top
      img(src="assets/images/decorations/basilic.png", alt="basilic").decor-img
      .section-headline
        h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="1.5s" data-wow-delay="0.5s") Marie,
        h1.h1.wow.fadeIn.animation-opacity(data-wow-duration="1.5s" data-wow-delay="1.5s") c’est aussi bon pour la planète.
      p Chez Marie, notre amour des bons produits se traduit aussi par notre engagementà préserver notre planète et nos ressources. C’est dans cet état d’esprit que nous œuvrons à développer des pratiques environnementales plus responsables. 
      p Nos 6 sites de fabrication sont inscrits dans des objectifs ambitieux de maîtrise des consommations d’électricité, de gaz et d’eau. Dans ce cadre, 3 d’entre eux ont d’ores-et-déjà obtenu la certification ISO 50 001. C’est bien, mais nous souhaitons aller encore plus loin !
    .text-img-row.row1
      .col-l
        .text-holder.text-holder1
          h2.title Mieux gérer la ressource en eau, ce n’est pas la mer à boire.
          p L’eau est une ressource limitée. Elle reste néanmoins essentielle pour nos activités. C’est pourquoi nous menons une politique de réduction de  nos consommations en eau.
          h5.h5 Son objectif ? 
          p Utiliser cette eau de manière toujours plus efficace et durable. 
          h5.h5 Comment ? 
          p En développant des circuits fermés pour nos systèmes de refroidissement. En optimisant nos consommations lors du nettoyage des équipements et locaux. En formant toujours plus notre personnel à une utilisation raisonnée de cette ressource.
        .img-holder-1
          .hand-img 
            img(src="assets/images/env-hand.png", alt="env image")
            strong.card-title.wow.fadeIn.animation-opacity(data-wow-duration="1.5s" data-wow-delay="0.5s") Le développement durable chez Marie, c’est une question d’exigence.
          img(src="assets/images/env2.png", alt="env image")
      .col-r.colr1
        .img-holder-2
          img(src="assets/images/env1.png", alt="basilic")
        .box-text
          h2.box-text-title L’intégralité
          h3.box-text-sub-title de nos eaux usées est traitée.
          p soit par des <strong>stations</strong> d’épuration interne, - soit par des ouvrages de traitement communaux collectifs après  <strong>prétraitement interne</strong>. 

        .text-holder
          p Aussi, parce qu’il est essentiel de garantir un haut niveau de qualité de l’eau redistribuée par nos sites après usage, nous veillons au bon traitement épuratoire de nos eaux usées. C’est ainsi que nous parvenons à limiter notre impact sur les milieux aquatiques.
          p Chez Marie, nous conduisons depuis 15 ans une politique d’investissements soutenue en matière de traitement des effluents. L’ensemble de nos ateliers de production procède à un suivi de ses rejets adapté et ambitieux.
          .mob-item
            img(src="assets/images/decorations/basilic.png", alt="basilic")
    .text-img-row
      .col-l.coll2
        .text-holder
          h2.title Tous engagés pour une gestion positive des énergies.
          p Nous menons depuis de nombreuses années une politique d’investissements significative pour réduire nos consommations énergétiques et limiter notre empreinte écologique. Ces énergies, nous en avons besoin pour produire le froid nécessaire à la conservation de nos produits ainsi que pour les procédés de cuisson.
          p Grâce à l’innovation, nous parvenons chaque année à maîtriser toujours un peu plus nos consommations de gaz et d’électricité. 
          //- .mob-item
          //-   img(src="assets/images/decorations/basilic.png", alt="basilic")
        .img-holder
          img(src="assets/images/env3.png", alt="env image")
      .col-r.colr2
        .img-holder
          img(src="assets/images/env4.png", alt="env")
        .sticky-box.wow.fadeIn.animation-opacity(data-wow-duration="1.5s" data-wow-delay="0.5s") SOLLICITONS TOUTES NOS ÉNERGIES POSITIVES POUR CONSTRUIRE NOTRE AVENIR
        .text-holder
          .mob-item
            img(src="assets/images/decorations/basilic.png", alt="basilic")
          h2.title 
            span Emballés par l’éco-emballage. 
            img(src="assets/images/env5.png", alt="env")
          p Grâce à l’écoconception, nous parvenons à faire évoluer le poids et la composition de nos emballages. Par exemple, nous avons réduit significativement l’épaisseur des films plastiques tout en intégrant de plus en plus de composants recyclés dans une partie de nos emballages.
          p Et ça fonctionne ! Nous avons ainsi pu diminuer de 14% le poids des emballages carton de nos plats cuisinés, et de 4,5 grammes le poids des barquettes plastiques de nos gratins (ça représente près de 2 tonnes de plastique en moins chaque année). Nous la légèreté, ça nous plait. 
    .bottom-dox-decorated
      img(src="assets/images/env6.png", alt="env").wow.fadeIn.animation-opacity(data-wow-duration="1s" data-wow-delay="0.0s"  data-wow-offset="-200")
      .text-holder
        h2.title Zéro
        h3.subtitile moule en aluminium
        p pour nos tartes surgelées, soit une économie de <strong> 20 tonnes par an.</strong> 
    .section-headline
      h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="1.3s"  data-wow-offset="-200") Découvrez
      h1.h1.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="0.51s"  data-wow-offset="-200") es engagements
      h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="1.3s"  data-wow-offset="-200") Marie.
      a(href="#").btn.btn-red découvrir