section.gallery2.gallery
	.container
		.additional-indents
			h1.gallery-title
				span.title-row.cursive.marked-red Découvrez
				span.title-row également :
			.gallery-holder
				a(href="/").gallery-item(style="background-image: url(assets/images/gallery-image-1.jpg)")
					.item-caption.text-center
						span C’est l’automne : <br> cocooning et Pizza Party !
						span.cursive 10 produits
				a(href="/").gallery-item(style="background-image: url(assets/images/gallery-image-3.jpg)")
					.item-caption.text-center
						span C’est la <br> pause dejeuner
						span.cursive 24 produits
				a(href="/").gallery-item(style="background-image: url(assets/images/gallery-image-4.jpg)")
					.item-caption.text-center
						span En famille
						span.cursive 18 produits