section.inspiration-block
  .additional-indents
    .section-headline
      h1.h1.wow.fadeIn.animation-opacity(data-wow-duration="1.5s" data-wow-delay="0.5s") Inspiration
      h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="1.5s" data-wow-delay="1.5s") Il y a toujours un produit Marie pour chaque occasion !
    .inspiration-row
      .inspiration-col.heading-col.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
        .text
          strong.title Envie d’Ailleurs
          span.subtitle 6 produits
        img(src="assets/images/products/inspiration-product1.jpg", alt="inspiration")
      .inspiration-col.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
        img(src="assets/images/products/paella.jpg", alt="inspiration")
        strong.title Paëlla
        span.subtitle Poulet et Fruits de mer
      .inspiration-col.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
        img(src="assets/images/products/tajine-de-poulet.jpg", alt="inspiration")
        strong.title Tajine de Poulet à la Marocaine
        span.subtitle Semoule & Légumes
      .inspiration-col.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
        img(src="assets/images/products/nouilles-a-la-chinoise.jpg", alt="inspiration")
        strong.title Nouilles à la Chinoise au Poulet
        span.subtitle Légumes croquants
      .inspiration-col.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
        img(src="assets/images/products/couscous-merguez.jpg", alt="inspiration")
        strong.title Couscous Merguez Boulettes de Bœuf Poulet
        span.subtitle Semoule & Légumes
      .inspiration-col.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
        img(src="assets/images/products/riz-a-la-cantonaise.jpg", alt="inspiration")
        strong.title Riz à la cantonaise
        span.subtitle Omelette et Jambon supérieur