section.masonry-grid-section
	.section-headline
		h1.h1.wow.fadeIn.animation-opacity(data-wow-duration="1s" data-wow-delay="0.5s") L’actualité
		h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="1s" data-wow-delay="1s") de Marie
		p Découvrez ce que Marie vous mijote sur les réseaux sociaux
	.social-block.colored
		ul.social-menu.colored
			li
				a(href="#" target="_blank")
					i.icon-facebook
			li
				a(href="#" target="_blank").instagram-icon
					img(src="assets/images/instagram-color.svg", width="40" height="40" alt="")
			li
				a(href="#" target="_blank")
					i.icon-youtube
	.masonry-grid
		.grid-item
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-instagram
				.thumb-content
					.image-holder
						img(src="assets/images/insta-img-1.jpg", alt="")
					.text
						p Message de soutien à tous les bacheliers :Tonique, euphorisant, antidépresseu :) les bienfaits du chocolat vous aideront à s urmonter cette journée. Marie vous souhaite bonne chance !
						p.hash #lesrecettedemarie #baccalaureat #resultat #reconfort #gourmandise #encouragement #yummy #instafood
		.grid-item
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-instagram
				.thumb-content
					.image-holder
						img(src="assets/images/insta-img-2.jpg", alt="")
					.text
						p Une recette qui nous vient du soleil, haute en saveurs, et que Marie vous cuisine avec tout son savoir-faire.<br> La paëlla au poulet et fruits de mer Marie ! 
						p.hash #lesrecettesdemarie  #cuisine <br> #paella #gourmand  #saveur <br>  #dejeuner  #dansmonassiette <br> #yummy #food #lunchtime <br>#instafood
		.grid-item.grid-item--width2
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-youtube
				.thumb-content
					.image-holder
						img(src="assets/images/youtube-img-1.jpg", alt="")
						a(href="https://www.youtube.com/watch?v=C0DPdy98e4c" target="_blank").youtube-link
							i.icon-play
					.text
						p Vous connaissez la tarte à la tomate Marie ? Découvrez d’où viennent les tomates avec Sylvain, producteur dans le Vaucluse !
		.grid-item.grid-item--width2
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-youtube
				.thumb-content
					.image-holder
						img(src="assets/images/youtube-img-2.jpg", alt="")
						a(href="https://www.youtube.com/watch?v=C0DPdy98e4c" target="_blank").youtube-link
							i.icon-play
					.text
						p Découvrez la nouvelle publicité de Marie. Aujourd’hui, les français attendent d’une grande marque qu’elle les rassure et qu’elle s’engage, mais pas seulement ! S’ils n’ont pas toujours le temps de faire la cuisine, ils restent exigeants sur le goût et le plaisir … comme Marie.
		.grid-item
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-instagram
				.thumb-content
					.image-holder
						img(src="assets/images/insta-img-3.jpg", alt="")
					.text
						p Ensoleillé, convivial, gourmand, reposant, familial…  Et vous, vous l’envisagez comment votre week end ? 
						p.hash #plaisir #convivialité #weekend #gourmand #famille #yummy #instafood
		.grid-item.facebook
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-facebook
				.thumb-content
					.image-holder
						img(src="assets/images/facebook-img-1.jpg", alt="")
					.text
						p Quiz spécial été Les beaux jours sont là et nos habitudes alimentaires changent. Entre les apéritifs, les goûters et autres barbecues, il va falloir garder l’équilibre ! Que savez-vous sur nos aliments emblématiques de l’été ? 
						p.marked-red C’est par ici ?
		.grid-item
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-instagram
				.thumb-content
					.image-holder
						img(src="assets/images/insta-img-4.jpg", alt="")
					.text
						p Message de soutien à tous les bacheliers : Tonique, euphorisant, antidépresseu :) les bienfaits du chocolat vous aideront à surmonter cette journée. Marie vous souhaite bonne chance ! 
						p.hash #lesrecettedemarie #baccalaureat #resultat #reconfort #gourmandise #encouragement #yummy #instafood
		.grid-item
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-instagram
				.thumb-content
					.image-holder
						img(src="assets/images/insta-img-5.jpg", alt="")
					.text
						p Une recette qui nous vient du soleil, haute en saveurs, et que Marie vous cuisine avec tout son savoir-faire. La paëlla au poulet et fruits de mer Marie ! 
						p.hash #lesrecettesdemarie  #cuisine #paella #gourmand  #saveur  #dejeuner  #dansmonassiette  #yummy #food #lunchtime #instafood
		.grid-item.grid-item--width2
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-youtube
				.thumb-content
					.image-holder
						img(src="assets/images/youtube-img-3.jpg", alt="")
						a(href="https://www.youtube.com/watch?v=C0DPdy98e4c" target="_blank").youtube-link
							i.icon-play
					.text
						p Vous connaissez la tarte à la tomate Marie ? Découvrez d’où viennent les tomates avec Sylvain, producteur dans le Vaucluse !
		.grid-item.grid-item--width2
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-youtube
				.thumb-content
					.image-holder
						img(src="assets/images/youtube-img-4.jpg", alt="")
						a(href="https://www.youtube.com/watch?v=C0DPdy98e4c" target="_blank").youtube-link
							i.icon-play
					.text
						p Découvrez la nouvelle publicité de Marie. Aujourd’hui, les français attendent d’une grande marque qu’elle les rassure et qu’elle s’engage, mais pas seulement ! S’ils n’ont pas toujours le temps de faire la cuisine, ils restent exigeants sur le goût et le plaisir … comme Marie.
		.grid-item
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-instagram
				.thumb-content
					.image-holder
						img(src="assets/images/insta-img-6.jpg", alt="")
					.text
						p Ensoleillé, convivial, gourmand, reposant, familial… Et vous, vous l’envisagez comment votre week end ? 
						p.hash #plaisir #convivialité #weekend #gourmand #famille #yummy #instafood
		.grid-item.facebook
			.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="1s" data-wow-offset="250")
				.thumb-top
					i.icon-facebook
				.thumb-content
					.image-holder
						img(src="assets/images/facebook-img-2.jpg", alt="")
					.text
						p Quiz spécial été Les beaux jours sont là et nos habitudes alimentaires changent. Entre les apéritifs, les goûters et autres barbecues, il va falloir garder l’équilibre ! Que savez-vous sur nos aliments emblématiques de l’été ? 
						p.marked-red C’est par ici ?
	.btn-holder
		a(href="#").btn.btn-red en voir plus






