section.nutrition-section
	.container-fluid
		.text-top
			.section-headline
				h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="1s" data-wow-delay="0.1s") Marie,
				h1.h1.wow.fadeIn.animation-opacity(data-wow-duration="1s" data-wow-delay="0.8s") c’est bon pour moi.
			p Au-delà du plaisir de bien cuisiner, nous contribuons à votre bien-être. C’est pourquoi Marie est engagée depuis de nombreuses années dans une démarche d’amélioration continue de la qualité nutritionnelle de ses plats.
		.split-section
			.col-l
				h2.title Vive l’équilibre alimentaire.
				p.text Pour que vous puissiez manger équilibré chaque jour, nous œuvrons à vous proposer toujours une grande variété de recettes saines et équilibrées.
				p.botom-text Il est essentiel pour nous de partager la composition de nos produits. En 2018, Marie s’est engagée de façon volontaire à déployer la charte Nutri-Score sur ses produits. Cette démarche sera effective sur l’ensemble de nos emballages d’ici fin 2019. Nous vous aidons ainsi à concilier plaisir et nutrition.
				.decor-image
					img(src="assets/images/decorations/black-paper.png", alt="")
			.col-r
				.note-holder
					.bg-image 
						img(src="assets/images/decorations/note.png", alt="")
					.note-text.text-center
						h2.title Marie, une culture vibrante de la
						h3.sub-title.cursive.marked-red nutrition.
						p Déjà en 2008, Marie devient <b>le premier fabricant de plats préparés </b> à signer la Charte d’Engagement Volontaire de Progrès Nutritionnel avec l’État (PNNS).
						p <b> En 2017, nous avons amélioré notre charte nutritionnelle </b> interne pour la rendre plus ambitieuse, plus engageante.
		.score-section
			.single-text.text-center
				strong En 2018, 77% des plats cuisinés frais et surgelés Marie sont notées A <br> ou B dans le cadre du Nutri-Score.
			.image-holder-b.wow.swing(data-wow-duration="1.1s" data-wow-delay="0.5s")
				img(src="assets/images/nutri-score-b.png", alt="")
			.image-holder-a.wow.swing(data-wow-duration="1.3s" data-wow-delay="1s")
				img(src="assets/images/nutri-score-a.png", alt="")
		.split-section
			.col-l
				.decorated-red-text
						h3.title AVEC MARIE, C’EST TELLEMENT BON DE BIEN MANGER
				.image-holder
					img(src="assets/images/nutr1.png", alt="")
				.sticker-bg-text
					h3.subtitle 2 portions de poisson par
					h2.title.marked-red.cursive semaine.
					p <b>C’est l’apport recommandé en acides gras </b> pour contribuer positivement à l’équilibre nutritionnel.
			.col-r
				.decor-image
					img(src="assets/images/decorations/green-pea.png", alt="")
				.text-holder
					h2.title Sélectionner les bonnes matières grasses.
					p Parce que bien manger au quotidien, c’est aussi avoir choisir les matières grasses essentielles. Marie sélectionne les meilleures pour vous.
					p Les Omega 3, naturellement présents dans les poissons en sauce. Ils ont des effets positifs sur le maintien des fonctions cérébrales, visuelles et immunitaires. Ils jouent également un rôle bénéfique sur le système cardiovasculaire. C’est pourquoi nous nous attachons à sélectionner des poissons riches en Omega 3, comme le saumon ou le colin par exemple.
					p D’autre part, nous œuvrons à limiter les matières grasses hydrogénées en particulier pour les margarines présentes dans les pâtes de nos quiches et tartes. Nous les avons déjà supprimées de nos pâtes à tartes.







