section.nutrition-section
	.container
		.text-top
			.section-headline
				h4.h4 Marie,
				h1.h1 c’est bon pour moi.
				p Au-delà du plaisir de bien cuisiner, nous contribuons à votre bien-être. C’est pourquoi Marie est engagée depuis de nombreuses années dans une démarche d’amélioration continue de la qualité nutritionnelle de ses plats.
		.float-blocks
				.top-text
					h2.title Vive l’équilibre alimentaire.
					p.text Pour que vous puissiez manger équilibré chaque jour, nous œuvrons à vous proposer toujours une grande variété de recettes saines et équilibrées.
				.note-holder
					.bg-image 
						img(src="assets/images/decorations/note.png", alt="")
					.note-text.text-center
						h2.title Marie, une culture vibrante de la
						h3.sub-title.cursive.marked-red nutrition.
						p Déjà en 2008, Marie devient <b>le premier fabricant de plats préparés </b> à signer la Charte d’Engagement Volontaire de Progrès Nutritionnel avec l’État (PNNS).
						p <b> En 2017, nous avons amélioré notre charte nutritionnelle </b> interne pour la rendre plus ambitieuse, plus engageante.
				p.botom-text Il est essentiel pour nous de partager la composition de nos produits. En 2018, Marie s’est engagée de façon volontaire à déployer la charte Nutri-Score sur ses produits. Cette démarche sera effective sur l’ensemble de nos emballages d’ici fin 2019. Nous vous aidons ainsi à concilier plaisir et nutrition.
				.decor-image
					img(src="assets/images/decorations/black-paper2.png", alt="")
		.score-section
			.single-text.text-center
				strong En 2018, 77% des plats cuisinés frais et surgelés Marie sont notées A <br> ou B dans le cadre du Nutri-Score.
			.image-holder-b
				img(src="assets/images/nutri-score-b.png", alt="")
			.image-holder-a
				img(src="assets/images/nutri-score-a.png", alt="")
		.split-section.top
			.text-holder.left
				.decorated-red
					h3.title AVEC MARIE, <br> C’EST TELLEMENT BON DE BIEN MANGER
			.text-holder.right
				h2.title Sélectionner les bonnes <br> matières grasses.
				p Parce que bien manger au quotidien, c’est aussi avoir choisir les matières grasses essentielles. Marie sélectionne les meilleures pour vous.
				p <b>Les Omega 3, naturellement présents dans les poissons en sauce.</b> Ils ont des effets positifs sur le maintien des fonctions cérébrales, visuelles et immunitaires. Ils jouent également un rôle bénéfique sur le système cardiovasculaire. C’est pourquoi nous nous attachons à sélectionner des poissons riches en Omega 3, comme le saumon ou le colin par exemple.
				p D’autre part, nous œuvrons à limiter les <b>matières grasses hydrogénées</b> en particulier pour les margarines présentes dans les pâtes de nos quiches et tartes. <b>Nous les avons déjà supprimées</b> de nos pâtes à tartes.
			.text-image-group
				.image-holder
					img(src="assets/images/nutr1.png", alt="")
				.sticker-bg-text.tall
					h3.subtitle 2 portions <br> de poisson par
					h2.title.marked-red.cursive semaine.
					p <b>C’est l’apport recommandé <br> en acides gras </b> pour contribuer positivement à l’équilibre nutritionnel.
			.decor-image
					img(src="assets/images/decorations/green-pea2.png", alt="")
		.split-section.middle
			.decor-image
				img(src="assets/images/decorations/salt-in-hand.png", alt="")
			.text-holder.left
				h2.title Le sel avec modération, naturellement !
				p <b>8,4 grammes de sel par jour.</b><br> C’est l’apport moyen de sel des français. Cela dépasse de près de 40% les recommandations internationales de 6 grammes par jour. Nous travaillons depuis 10 ans à réduire ce taux.
				p Ainsi, un plat de 300 grammes apporte 2,1 grammes de sel, soit 35% des besoins journaliers.
			.text-holder.right
				.sticker-bg-text.middle.text-center
					h3.subtitle Nos plats ne contiennent pas plus de
					h2.title.marked-red.cursive 0,7 gramme de sel
					h3.subtitle pour 100 grammes.
		.split-section.bottom
			.img-group
				.image-holder
					img(src="assets/images/nutr2.png", alt="")
				.decor-image
					img(src="assets/images/decorations/farine.png", alt="")
			.text-holder.right
				h2.title Les fibres sont nos amies.
				p <b>18 grammes</b><br> C’est la consommation quotidienne de fibres des français. Ce n’est pas assez. L’OMS recommande une consommation de 25 à 30 grammes par jour. Chez Marie, nous avons donc décidé d'intervenir sur la qualité des farines employées dans la fabrication des pâtes à pizza.
			.text-holder.right
				.sticker-bg-text.wide
					.title-side.text-center
						h3.subtitle Une farine <br> plus riche en
						h2.title.marked-red.cursive minéraux et en fibres.
					.text-side
						p Nous avons fait le choix d’une farine dite «T80» pour toutes nos pâtes à pizzas. Elle propose davantage de qualités nutritionnelles que la farine T55 habituellement utilisée en boulangerie.
		.end-section.text-center
			h3.subtitle Découvrez également pourquoi
			h2.title.marked-red.cursive c’est bon pour la planète.
			a(href="#").btn.btn-red découvrir










