section.prefooter
	.container
		.prefooter-banner
			.prefooter-banner__image
			.prefooter-banner__caption
				h2.prefooter-banner__title Marie récompense votre fidélité.
				p.prefooter-banner__sub-title Transformez vos achats en réductions et avantages exclusifs !
				a(href="/").btn.btn-white accéder au club