include ../../mixins/productsItems

-
  var productsItems = [
    {
      label: '',
      imageSrc: 'assets/images/products/pates-1.jpg',
      imageTitle: 'La Sablée',
      title: 'La Sablée',
      description: 'Pur Beurre',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pates-2.jpg',
      imageTitle: 'La Brisée',
      title: 'La Brisée',
      description: 'Pur Beurre',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pates-3.jpg',
      imageTitle: 'La Feuilletée',
      title: 'La Feuilletée',
      description: 'Pur Beurre',
      Link: '/',
    },
    {
      title: 'Pâtes à dérouler...',
      description: 'Voir plus de',
      Link: '/',
    },
  ];

+productsItems(productsItems)