include ../../mixins/productsItems

-
  var productsItems = [
    {
      label: 'Nouveau',
      imageSrc: 'assets/images/products/pizzas-1.png',
      imageTitle: 'Cabillaud fondue de poireaux',
      title: 'Cabillaud fondue de poireaux',
      description: 'Riz aux petits légumes',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pizzas-2.png',
      imageTitle: 'Poulet rôti',
      title: 'Poulet rôti',
      description: 'Pommes de terre fondantes',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pizzas-3.png',
      imageTitle: 'Écrasé de pommes de terre',
      title: 'Écrasé de pommes de terre',
      description: 'Saucisse de Montbéliard',
      Link: '/',
    },
    {
      label: 'Nouveau',
      imageSrc: 'assets/images/products/pizzas-4.png',
      imageTitle: 'Hachis Parmentier',
      title: 'Hachis Parmentier',
      description: 'Puréeà la crème fraîche',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pizzas-5.png',
      imageTitle: 'Riz à la cantonaise',
      title: 'Riz à la cantonaise',
      description: 'et Jambon supérieur',
      Link: '/',
    },
  ];

+productsItems(productsItems)