include ../../mixins/productsItems

-
  var productsItems = [
    {
      label: '',
      imageSrc: 'assets/images/products/pates-1.png',
      imageTitle: 'Cabillaud fondue de poireaux',
      title: 'Cabillaud fondue de poireaux',
      description: 'Riz aux petits légumes',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pates-2.png',
      imageTitle: 'Poulet rôti',
      title: 'Poulet rôti',
      description: 'Pommes de terre fondantes',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pates-3.png',
      imageTitle: 'Écrasé de pommes de terre',
      title: 'Écrasé de pommes de terre',
      description: 'Saucisse de Montbéliard',
      Link: '/',
    },
  ];

+productsItems(productsItems)