section.products-thumbs
	.container
		h1.products-thumbs__title.text-center Vous aimerez aussi
		.products-thumbs__holder
			.product-thumb.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
				span.top-title D’après la même base
				.product-thumb__image
					img(src="assets/images/products/marie-poulet-roti.jpg", alt="")
				.product-thumb__text.text-center
					h2.title Poulet rôti
					p.description Pommes de terre fondantes
			.product-thumb.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
				span.top-title D’après la même base
				.product-thumb__image
					img(src="assets/images/products/marie-risotto.jpg", alt="")
				.product-thumb__text.text-center
					h2.title Risotto
					p.description aux champignons de Paris
			.product-thumb.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
				span.top-title Également pour 2
				.product-thumb__image
					img(src="assets/images/products/marie-lasagnes.jpg", alt="")
				.product-thumb__text.text-center
					h2.title Lasagnes à la Bolognaise
					p.description Béchamel gratinée
			.product-thumb.wow.zoom103.animation-tablet(data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="250")
				span.top-title Également pour 2
				.product-thumb__image
					img(src="assets/images/products/marie-hachis-parmentier.jpg", alt="")
				.product-thumb__text.text-center
					h2.title Hachis Parmentier
					p.description Purée à la crème fraîche


