include ../../mixins/productsItems

-
  var productsItems = [
    {
      label: 'Nouveau',
      imageSrc: 'assets/images/products/pizzas-1.jpg',
      imageTitle: 'Crousti Moelleuse Originale',
      title: 'Royale',
      description: 'Crousti Moelleuse Originale',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pizzas-2.jpg',
      imageTitle: 'Crousti Mœlleuse Extrême',
      title: 'Poulet Curry',
      description: 'Crousti Mœlleuse Extrême',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pizzas-3.jpg',
      imageTitle: 'Crousti Mœlleuse Extrême',
      title: 'Kebab',
      description: 'Crousti Mœlleuse Extrême',
      Link: '/',
    },
    {
      label: 'Nouveau',
      imageSrc: 'assets/images/products/pizzas-4.jpg',
      imageTitle: 'Crousti Mœlleuse Originale',
      title: 'Bolognaise',
      description: 'Crousti Mœlleuse Originale',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/pizzas-5.jpg',
      imageTitle: 'Crousti Mœlleuse Originale',
      title: '3 Fromages',
      description: 'Crousti Mœlleuse Originale',
      Link: '/',
    },
  ];

+productsItems(productsItems)