include ../../mixins/productsItems

-
  var productsItems = [
    {
      label: 'Nouveau',
      imageSrc: 'assets/images/products/plats-cuisines-1.jpg',
      imageTitle: 'Cabillaud fondue de poireaux',
      title: 'Cabillaud fondue de poireaux',
      description: 'Riz aux petits légumes',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/plats-cuisines-2.jpg',
      imageTitle: 'Poulet rôti',
      title: 'Poulet rôti',
      description: 'Pommes de terre fondantes Pommes de terre fondantes Pommes de terre fondantes Pommes de terre fondantes Pommes de terre fondantes Pommes de terre fondantes',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/plats-cuisines-3.jpg',
      imageTitle: 'Écrasé de pommes de terre',
      title: 'Écrasé de pommes de terre',
      description: 'Saucisse de Montbéliard',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/plats-cuisines-4.jpg',
      imageTitle: 'Hachis Parmentier',
      title: 'Hachis Parmentier',
      description: 'Puréeà la crème fraîche',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/plats-cuisines-5.jpg',
      imageTitle: 'Riz à la cantonaise',
      title: 'Riz à la cantonaise',
      description: 'et Jambon supérieur',
      Link: '/',
    },
    {
      label: '',
      imageSrc: 'assets/images/products/plats-cuisines-6.jpg',
      imageTitle: 'Lasagnes',
      title: 'Lasagnes',
      description: 'à la Bolognaise',
      Link: '/',
    },
  ];

+productsItems(productsItems)