section.product-info
		.split-container
			.left-side
				.accordion
					.tab-pane
						span.tab-pane__name Valeurs nutritionelles
							span.tab-pane__open-close
						.tab-content
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin fringilla pellentesque. Nulla sed sollicitudin lacus, in pulvinar mauris. In convallis consectetur dolor, vel venenatis nunc fringilla et. Morbi vitae eleifend lectus, vitae mattis ante. Integer scelerisque dolor lectus, in efficitur ante ultricies ac. Maecenas eu ultricies arcu, nec rhoncus tortor. Fusce lectus eros, blandit feugiat ante vel, sollicitudin auctor magna. Vestibulum egestas ante at nulla vehicula pulvinar. Maecenas ultricies quis nisl et lacinia. Nullam condimentum dapibus metus in volutpat. Suspendisse imperdiet elit in quam molestie facilisis. In eget leo ac tellus cursus tristique.
					.tab-pane
						span.tab-pane__name Ingrédients
							span.tab-pane__open-close
						.tab-content
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin fringilla pellentesque. Nulla sed sollicitudin lacus, in pulvinar mauris. In convallis consectetur dolor, vel venenatis nunc fringilla et. Morbi vitae eleifend lectus, vitae mattis ante. Integer scelerisque dolor lectus, in efficitur ante ultricies ac. Maecenas eu ultricies arcu, nec rhoncus tortor. Fusce lectus eros, blandit feugiat ante vel, sollicitudin auctor magna. Vestibulum egestas ante at nulla vehicula pulvinar. Maecenas ultricies quis nisl et lacinia. Nullam condimentum dapibus metus in volutpat. Suspendisse imperdiet elit in quam molestie facilisis. In eget leo ac tellus cursus tristique.
					.tab-pane
						span.tab-pane__name Idée menu
							span.tab-pane__open-close
						.tab-content
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin fringilla pellentesque. Nulla sed sollicitudin lacus, in pulvinar mauris. In convallis consectetur dolor, vel venenatis nunc fringilla et. Morbi vitae eleifend lectus, vitae mattis ante. Integer scelerisque dolor lectus, in efficitur ante ultricies ac. Maecenas eu ultricies arcu, nec rhoncus tortor. Fusce lectus eros, blandit feugiat ante vel, sollicitudin auctor magna. Vestibulum egestas ante at nulla vehicula pulvinar. Maecenas ultricies quis nisl et lacinia. Nullam condimentum dapibus metus in volutpat. Suspendisse imperdiet elit in quam molestie facilisis. In eget leo ac tellus cursus tristique.
			.right-side
				.info-card
					.inner-card.text-center
						.img-holder
							img(src="assets/images/nutri-score.svg", width="128" height="68" alt="")
						p.desktop-text En 2018, Marie s’est engagée de façon volontaire à déployer la charte Nutri-Score sur ses produits. Cette démarche sera effective sur l’ensemble de nos emballages d’ici fin 2019. Nous vous aidons ainsi à concilier plaisir et nutrition. Découvrez les détails du programme Nutri-Score sur le site du gouvernement :
						p.tablet-text En 2018, 77% des plats cuisinés frais et surgelés Marie sont notés A ou B dans le cadre du Nutri-Score : ces scores signifient que les recettes sont idéales sur le plan nutritionnel. Et nous nous améliorons sans cesse pour étendre ce système à tous nos produits, pour vous aider à concilier plaisir et nutrition.
						a(href="/").btn.btn-white DÉCOUVRIR