section.product-detail
	.container
		.product-detail__header
			.product-detail__image
				img(src="assets/images/marie-risotto.jpg", alt="marie-risotto")
			.product-detail__text
				h1.title Risotto au Poulet
				span.sub-title.cursive.marked-red champignons à la crème
				p Du goût et de l'authenticité pour cette recette cuisinée avec du poulet origine France, de la crème, du vinc blanc et des champignons.
		.product-detail__bg-image
			img(src="assets/images/meat-mushrooms.png", alt="meat-mashrooms")
		.product-detail__footer
			.product-detail__info
				.item-info
					i.icon-cook
					span Sauce cuisinée à chaud
				.item-info
					img(src="assets/images/marked-flag.png", alt="marked-flag")
					span Poulet origine France
			.product-detail__info
				.item-info
					i.icon-snow
					span Plat surgelé
				.item-info
					i.icon-user
					span Pour 2 personnes
		.btn-holder
			a(href="/").btn.btn-red ACHETER


