section.text-thumbs
		.merged-thumbs
			.thumb
				.thumb__title-holder
					.thumb__title-decor
						img(src="assets/images/name-holder.png", width="100%" height="100%" alt="")
					span.number-decorated.cursive.marked-red 1
					strong.subtitle BIEN
					h3.title.cursive.marked-red sélectionner 
				.thumb__text
					p Bien sélectionner nos ingrédients, c’est choisir nos matières premières avec soin.
				a(href="/").btn.btn-white DÉCOUVRI
			.thumb
				.thumb__title-holder
					.thumb__title-decor
						img(src="assets/images/name-holder.png", width="100%" height="100%" alt="")
					span.number-decorated.cursive.marked-red 2
					strong.subtitle BIEN
					h3.title.cursive.marked-red préparer
				.thumb__text
					p Bien préparer nos produits, c’est préserver la qualité de nos ingrédients, en faisant le choix de la simplicité et de l’authenticité.
				a(href="/").btn.btn-white DÉCOUVRI
			.thumb
				.thumb__title-holder
					.thumb__title-decor
						img(src="assets/images/name-holder.png", width="100%" height="100%" alt="")
					span.number-decorated.cursive.marked-red 3
					strong.subtitle BIEN
					h3.title.cursive.marked-red cuisiner
				.thumb__text
					p Bien cuisine nos produits, c’est s’appuyer sur le savoir faire de nos cuisiniers pour révéler tout le goût de nos recettes.
				a(href="/").btn.btn-white DÉCOUVRI
		.single-thumb.pseudo-rotate-left
			.thumb-inner
				h3.single-thumb__title.cursive Bon pour vous
				p Depuis longtemps, Marie s’engage  pour le respect de la nutrition.
				a(href="/").btn.btn-white DÉCOUVR
		.single-thumb
			.thumb-inner
				h3.single-thumb__title.cursive Bon pour la planète
				p Nous nous engageons pour la préservation des ressources naturelles et la maîtrise de notre impact environnemental.
				a(href="/").btn.btn-white DÉCOUVR