section.text-with-images
	.container
		.text-images-holder
			.images-side
				.image-box.rotate-left
					.image-frame
						.image-holder
							img(src="assets/images/volaille-logo.jpg", alt="")
				.image-box.rotate-right
					.image-frame
						.image-holder
							img(src="assets/images/produit-image.jpg", alt="")
			.text-side
				h1.title
					span.title-row Voilà pourquoi
					span.title-row.cursive.marked-red c’est très bien fait :
				.text
					p Parce que nous sélectionnons soigneusement le meilleur du poulet, et parce qu’il est <b>né élevé et préparé en France</b>.

					p Parce que, comme le veut la recette traditionnelle, notre risoto est  <b>lentement cuisiné avec un bouillon maison </b>. Ça change tout !

					p Et enfin parce que  <b>nous avons ôté tous les arômes et texturants, </b> pour une recette la plus simple et savoureuse possible.<br> Et c’est ça qui est bon.
		.btn-holder
			a(href="/").btn.btn-red.btn-long en savoir plus sur nos engagements
