section.thumb-grid
  .container
    .thumb-row
      .thumb-col
        h3.h3 Nos engagements
        .img-holder 
          picture
            source(media="(max-width:767px)" srcset="assets/images/thumb-img1-tablet.jpg")
            img(src="assets/images/thumb-img1.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Chez Marie, on cultive le goût de la qualité !
          p Depuis des années, Marie élabore des plats dans le respect des ingrédients et du savoir-faire culinaire.
    .section-headline 
      h1.h1 Découvrez
      h4.h4 ce que Marie vous mijote !
    .thumb-row
      .thumb-col.col-33
        h3.h3 Nos engagements
        .img-holder 
          img(src="assets/images/thumb-img2.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Pourquoi nos pâtes à tarte sont-elles si bonnes ?
          p La simplicité est souvent la clé de la qualité.
      .thumb-col.col-66
        h3.h3 Nos produits
        .img-holder 
          picture
            source(media="(max-width:767px)" srcset="assets/images/thumb-img3-tablet.jpg")
            img(src="assets/images/thumb-img3.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Filet de poulet sauce au paprika fumé et tagliatelles.
          p Une recette originale avec une sauce au paprika fumé.
      .thumb-col.col-66.tablet-100
        h3.h3 Nos engagements
        .img-holder 
          a(href="https://www.youtube.com/watch?v=C0DPdy98e4c" target="_blank").youtube-link
            i.icon-play
          img(src="assets/images/thumb-img4.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Découvrez notre recette de la qualité.
          p Chez Marie, la qualité c’est sacré.
      .thumb-col.col-33
        h3.h3 Les recettes
        .img-holder 
          img(src="assets/images/thumb-img5.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Œufs cocotte feuilletés.
          p Une recette inratable pour réveiller vos brunchs !
      .thumb-col.col-33
        h3.h3 Nos produits
        .img-holder 
          img(src="assets/images/thumb-img6.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Les avez-vous testées ?
          p Découvrez toutes les nouveautés Marie.
      .thumb-col.col-33
        h3.h3 Nos engagements
        .img-holder 
          img(src="assets/images/thumb-img7.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Le sel : avec modération, naturellement.
          p Marie vous explique tout sur l’assaisonnement des ses plats.
      .thumb-col.col-33
        h3.h3 Nos engagements
        .img-holder 
          img(src="assets/images/thumb-img8.jpg", alt="thumb-img")
        .descr-holder
          strong.thumb-title Le Cabillaud, star de la rentrée.
          p Redécouvrez ce poisson noble et faites provision d’Oméga 3 !