section.video-section
	.video-section__inner.text-center
		.video-section__head
			h1.h1.marked-red.cursive.wow.fadeIn.animation-opacity(data-wow-duration="3.5s" data-wow-delay="1.5s") Découvrez
			h4.h4.wow.fadeIn.animation-opacity(data-wow-duration="2s" data-wow-delay="2.5s") es recettes de la qualité en vidéo !
		.vide-holder
			img(src="assets/images/marie-video-poster.jpg", alt="marie-video")
			a(href="https://www.youtube.com/watch?v=C0DPdy98e4c").youtube-link
				i.icon-play
		.video-section__bg-image.image-pos-1
			img(src="assets/images/decorations/basilic-pepper.png", alt="pepper")
			img(src="assets/images/decorations/mix-pepper.png", alt="")
		.video-section__bg-image.image-pos-2
			img(src="assets/images/decorations/bell-pepper.png", alt="pepper")
			img(src="assets/images/decorations/basilic2.png", alt="pepper")
		.video-section__bg-image.image-pos-3
			img(src="assets/images/decorations/set.png", alt="pepper")
		.video-section__bg-image.image-pos-4
			img(src="assets/images/decorations/garlic-2.png", alt="pepper")
		.video-section__bg-image.image-pos-5.wow.swing(data-wow-duration="2s" data-wow-delay="1s")
			img(src="assets/images/decorations/flag.png", alt="pepper")
		.video-section__bg-image.image-pos-6.wow.swing(data-wow-duration="1.5s" data-wow-delay="1s")
			img(src="assets/images/decorations/viande-logo-2.png", alt="pepper")
		.video-section__bg-image.image-pos-7
			img(src="assets/images/decorations/green-pea.png", alt="pepper")
	.bottom-card
		.bottom-card__text
			strong.title Une exigence qui se traduit par des engagements <br> <span class='big'>à 100%.</span>
			ul.unmarked-list
				li.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="0.5s") 100% de nos recettes sont <b>cuisinées en France</b> depuis toujours.
				li.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="1s") 100% de nos viandes sont <b>origine France</b>.
				li.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="1.5s") 100% de nos recettes sont <b>sans OGM</b>.
				li.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="2s") 100% de nos recettes de tartes utilisent des œufs pondus par des <b>poules élevées en plein air</b>.<br> D’ici 2020, ce sera le cas pour 100% de nos recettes.
				li.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="2.5s") 100% de nos poissons entiers sont levés dans le filet.
				li.wow.fadeIn.animation-opacity(data-wow-duration="0.5s" data-wow-delay="3s") 100% de nos recettes sont élaborées par une équipe de chefs cuisiniers et de nutritionnistes.
		.bottom-card__decor
			img(src="assets/images/decorations/chicken-in-hand.png", alt="decor")