section.hero-slider.owl-carousel.owl-theme
  .hero-slide 
    img(src="assets/images/sliders/home1.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Si notre risotto est si savoureux, c’est qu’il y a une raison !
      p Du riz Carnaroli, du poulet origine France, un bouillon fait maison, pour vous, nous avons exigé le meilleur.
      a(href="#").btn.btn-red Découvrir
  .hero-slide
    img(src="assets/images/sliders/home2.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Avis aux gourmands, Marie est sur vos réseaux sociaux préférés !
      p Découvrez l’actualité de Marie sur Facebook, Instagram et Youtube.
      a(href="#").btn.btn-red Découvrir  
  .hero-slide
    img(src="assets/images/sliders/home3.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Marie vous présente  ses Secrets de Cuisine
      p Découvrez 3 recettes savoureuses et raffinées, cuisinées avec le plus grand soin.
      a(href="#").btn.btn-red Découvrir
  .hero-slide
    img(src="assets/images/sliders/home4.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title C’est déjà fait. Et très bien fait.
      p Découvrez les 3 nouveaux films Marie sur les recettes de la qualité, pleins de gourmandise et de tendresse.
      a(href="#").btn.btn-red Découvrir
  .hero-slide
    img(src="assets/images/sliders/home5.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Découvrez nos nouvelles recettes végétales
      p Gourmandise, plaisir, et qualité, Marie vous propose 8 nouvelles recettes végétales cuisinées avec tout son savoir-faire.
      a(href="#").btn.btn-red Découvrir