section.hero-slider.owl-carousel.owl-theme.produit
  .hero-slide 
    img(src="assets/images/sliders/produit1.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Pour la rentrée, révisez vos classiques
      p Des viandes origine France, une recette lentement gratinée au four… Marie vous propose un grand classique de la cuisine dont on ne se lasse pas.
      a(href="#").btn.btn-red Découvrir
  .hero-slide 
    img(src="assets/images/sliders/produit1.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Pour la rentrée, révisez vos classiques
      p Des viandes origine France, une recette lentement gratinée au four… Marie vous propose un grand classique de la cuisine dont on ne se lasse pas.
      a(href="#").btn.btn-red Découvrir
  .hero-slide 
    img(src="assets/images/sliders/produit1.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Pour la rentrée, révisez vos classiques
      p Des viandes origine France, une recette lentement gratinée au four… Marie vous propose un grand classique de la cuisine dont on ne se lasse pas.
      a(href="#").btn.btn-red Découvrir
  .hero-slide 
    img(src="assets/images/sliders/produit1.jpg", alt="hero slider image")
    .text-holder
      .shadow-holder
      strong.slide-title Pour la rentrée, révisez vos classiques
      p Des viandes origine France, une recette lentement gratinée au four… Marie vous propose un grand classique de la cuisine dont on ne se lasse pas.
      a(href="#").btn.btn-red Découvrir