footer.footer
	.container
		.footer-inner
			a(href="home.html").logo
				img(src="/assets/images/logo.svg", alt="Marie")
			p.single-text C’est déjà fait. Et très bien fait.
			nav.main-nav
				a(href="#") Nos produits
				a(href="#") Nos engagements
				a(href="#") Les recettes
				a(href="#") L’actualité de Marie
				a(href="#")
					span Le Club Marie
			.social-block
				span.title Suivez-nous
				ul.social-menu
					li
						a(href="#" target="_blank")
							i.icon-facebook
					li
						a(href="#" target="_blank")
							i.icon-instagram
					li
						a(href="#" target="_blank")
							i.icon-youtube
	ul.additional-links
		li
			a(href="#") Service consommateurs
		li
			a(href="#") Mentions légales
		li
			a(href="#") CGU
		li
			a(href="#") Le groupe LDC
		li
			a(href="#") Presse