header.header
  .container
    .header-inner
      a(href="home.html").logo
        img(src="/assets/images/logo.svg", alt="Marie")
      .menu-opener
        .open-btn
          .helper
        .close-btn
          .helper
      nav.main-nav
        a(href="#") Nos produits
        a(href="#") Nos engagements
        a(href="#") Les recettes
        a(href="#") L’actualité de Marie
        a(href="#").has-icon 
          span Le Club Marie 
          i.icon-user-circle
        .mobile-items
          ul.social-holder
            li 
              a(href="#" target="_blank")
                i.icon-facebook
            li 
              a(href="#" target="_blank")
                i.icon-instagram
            li 
              a(href="#" target="_blank")
                i.icon-youtube
          ul.additional-links
            li
              a(href="#") Service consommateurs
            li
              a(href="#") Mentions légales
            li
              a(href="#") CGU
            li
              a(href="#") Le groupe LDC
            li
              a(href="#") Presse

