.accordion {
	.tab-pane {
		position: relative;
		&__name {
			display: inline-block;
			width: 100%;
			position: relative;
			line-height: 72px;
			font-size: 21px;
			font-weight: 600;
			border-bottom: 1px solid $light-gray;
			&:hover {
				cursor: pointer;
			}
		}
		&__open-close {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			display: block;
			width: 12px;
			height: 12px;
			right: 5px;
			&:before {
				content: '';
				position: absolute;
				top: 5px;
				left: 0;
				width: 12px;
				height: 2px;
				background-color: $black;
			}
			&:after {
				@include animate (transform);
				content: '';
				position: absolute;
				top: 0;
				left: 5px;
				width: 2px;
				height: 12px;
				background-color: $black;
			}
		}
		&.open {
			.tab-content {
				max-height: 300px;
			}
			.tab-pane__open-close:after {
				transform: rotate(90deg);
			}
		}
		&:last-child {
			.tab-pane__name {
				border-bottom: 0;
			}
		}
	}
	.tab-content {
		@include animate (max-height);
		max-height: 0;
		overflow: hidden;
	}
}