.masonry-grid-section {
	padding: 55px 4.6% 85px;
	.section-headline {
		margin-bottom: 15px;
		 .h1 {
		 	font-size: 88px;
		 }
		 .h4 {
			font-weight: 400;
		 }
	}
	.social-block {
		margin-bottom: 40px;
	}
}

.masonry-grid {
	@extend %clearfix;
	max-width: 1920px;
	margin-bottom: 60px;
	.grid-sizer,
	.grid-item {
		width: calc(25% - 20px);
		margin-bottom: 20px;
		@include media('<tablet') {
			width: calc(50% - 10px);
			margin-bottom: 30px;
		}
		@include media('<650px') {
			width: 100%;
		}
	}

	.grid-item {
		@include animate(transform);
		float: left;
		box-shadow: 0px 15px 40px 8px rgba(0, 0, 0, 0.1);
		&.facebook {
			p {
				margin-bottom: 25px;
			}
			.marked-red {
				margin-bottom: 10px;
			}
		}
		&:hover {
			transform: scale(1.03);
		}
	}

	.grid-item--width2 {
		width: calc(50% - 20px);
		@include media('<tablet') {
			width: 100%;
		}
		@include media('<650px') {
			width: 100%;
		}
	}
	.thumb-top {
		height: 40px;
		background: $red;
		position: relative;
		i {
			position: absolute;
			top: 50%;
			left: 30px;
			transform: translateY(-50%);
			font-size: 20px;
			color: #fff;
		}
	}
	.image-holder {
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
		.youtube-link {
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    font-size: 76px;
		    width: 30px;
		    height: 30px;
		    background-color: #fff;
		    color: #e11c1b;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    line-height: 0;
		    text-decoration: none;
		}
	}
	.text {
		font-size: 15px;
		line-height: 1.3;
		padding: 25px 40px 25px 25px;
		color: #6d6d6d;
		background: #fff;
		.hash {
			color: $red;
		}
	}
}
