.nutrition-section {
    padding: 0 4.5%;
    @include media('<tablet') {
        padding: 0 2.6%;
    }
    .container {
        max-width: 1306px;
    }
    .text-top {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 66px 50px 0;
        margin-bottom: -20px;
        position: relative;
        line-height: 1.5; // @include media('<desktop') {
        //     padding: 66px 0 0;
        // }
        @include media('<tablet') {
            padding: 66px 0 0;
        }
        .section-headline {
            margin: 0 auto 110px;
            line-height: 1.6; // @include media('<desktop') {
            //     margin: 0 auto 80px;
            // }
            @include media('<desktop') {
                margin: 0 auto 60px;
            }
            p {
                max-width: 690px;
                margin-bottom: 30px;
            }
        }
        .h1 {
            line-height: .7;
            font-size: 105px;
            margin: 0 auto 12px;
            @include media('<640px') {
                font-size: 85px;
            }
        }
        .h4 {
            line-height: .6;
            font-size: 54px;
            margin-bottom: 0;
            @include media('<640px') {
                font-size: 44px;
            }
        }
    }

    .float-blocks {
        @extend %clearfix;
        position: relative;
        margin-bottom: 35px; // @include media('<desktop') {
        //     display: flex;
        //     flex-wrap: wrap;
        // }
        @include media('<tablet') {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
        .top-text {
            width: 50%;
            padding: 65px 0 0 0;
            float: left;
            margin-bottom: 40px;
            line-height: 1.6; // @include media('<1440px') {
            //     font-size: 15px;
            //     margin-bottom: 3.33%;
            // }
            // @include media('<widescreen') {
            //     font-size: 14px;
            // }
            // @include media('<1100px') {
            //     font-size: 13px;
            // }
            // @include media('<desktop') {
            //     float: none;
            //     width: 100%;
            // }
            @include media('<tablet') {
                float: none;
                width: 100%;
                padding: 0;
            }
            .title {
                font-size: 35px;
                font-weight: 600; // @include media('<widescreen') {
                //     line-height: 1;
                // }
                @include media('<tablet') {
                    line-height: 1.2;
                }
            }
        }
        .note-holder {
            max-width: 50%;
            float: right;
            display: inline-block;
            position: relative;
            font-size: 16px; // @include media('<1440px') {
            //     font-size: 1.1vw;
            // }
            // @include media('<desktop') {
            //     float: none;
            //     max-width: 100%;
            //     font-size: 16px;
            //     margin: 0 0 0 auto;
            // }
            @include media('<tablet') {
                float: none;
                max-width: 100%;
                font-size: 16px;
                margin: 0 0 0 auto;
            }
            @include media('<700px') {
                position: relative;
                width: 600px;
                padding-bottom: 600px;
            }
            @include media('<500px') {
                position: relative;
                padding-bottom: 140%;
            }
            .bg-image {
                @include media('<700px') {
                    position: absolute;
                    width: 600px;
                    height: 600px;
                    right: 0;
                }
                @include media('<500px') {
                    width: 140%;
                }
            }
            .note-text {
                padding: 47px 0 0 0;
                position: absolute;
                max-width: 315px;
                right: 53px;
                top: 0; // @include media('<1440px') {
                //     max-width: 55%;
                //     right: 5%;
                // }
                @include media('<tablet') {
                    max-width: 55%;
                    right: 5%;
                }
                @include media('<700px') {
                    position: absolute;
                    max-width: none;
                    width: 340px;
                    right: 15px;
                }
                @include media('<500px') {
                    padding: 7vw 0 0 0;
                    width: 68vw
                }
                .title {
                    font-size: 26px;
                    line-height: 1.2;
                    font-weight: 600; // @include media('<1440px') {
                    //     font-size: 1.8vw;
                    // }
                    // @include media('<desktop') {
                    //     font-size: 26px;
                    // }
                    @include media('<tablet') {
                        font-size: 26px;
                    }
                    @include media('<500px') {
                        font-size: 5.5vw;
                    }
                }
                .sub-title {
                    font-size: 60px;
                    line-height: .3;
                    margin-bottom: 37px; // @include media('<1440px') {
                    //     font-size: 4.2vw;
                    //     margin-bottom: 11%;
                    // }
                    // @include media('<desktop') {
                    //     font-size: 60px;
                    // }
                    @include media('<500px') {
                        font-size: 12vw;
                        margin-bottom: 6vw;
                    }
                }
                p {
                    margin-bottom: 25px;
                    line-height: 1.6; // @include media('<1440px') {
                    //     margin-bottom: 8%;
                    // }
                    @include media('<500px') {
                        font-size: 3.2vw;
                        margin-bottom: 5vw;
                    }
                }
            }
        }
        .botom-text {
            width: 50%;
            float: left;
            padding-left: 17%;
            line-height: 1.6; // @include media('<1440px') {
            //     font-size: 15px;
            // }
            // @include media('<widescreen') {
            //     font-size: 14px;
            // }
            // @include media('<1100px') {
            //     font-size: 13px;
            // }
            // @include media('<desktop') {
            //     float: none;
            //     width: 100%;
            //     padding-left: 0;
            // }
            @include media('<tablet') {
                float: none;
                width: 100%;
                padding-left: 0;
            }
        }
        .decor-image {
            position: absolute;
            top: 244px;
            left: -100px; // @include media('<desktop') {
            //     top: 180px;
            // }
            @include media('<tablet') {
                top: 180px;
            }
            @include media('<550px') {
                top: -25px;
                left: auto;
                right: -120px;
                width: 50%;
            }
            @include media('<480px') {
                display: none;
            }
        }
    }

    .split-section {
        @extend %clearfix;
        position: relative; // @include media('<desktop') {
        //     display: flex;
        //     flex-wrap: wrap;
        // }
        @include media('<tablet') {
            display: flex;
            flex-wrap: wrap;
        }
        &.top {
            .text-holder {
                @include media('<tablet') {
                    width: 100%;
                    float: none;
                }
                &.left {
                    @include media('<650px') {
                        order: 1;
                    }
                }
                &.right {
                    padding: 23.5% 0 0 15px; // @include media('<desktop') {
                    //     order: 2;
                    //     padding-top: 0;
                    // }
                    @include media('<tablet') {
                        order: 2;
                        padding-top: 0;
                    }
                }
            }
            .decor-image {
                position: absolute;
                top: -40px;
                right: -100px;
                width: 47%;
                z-index: -1;
                @include media('<tablet') {
                    top: 0px;
                    width: 55%;
                }
                @include media('<650px') {
                    top: 52%;
                    width: 70%;
                    right: -230px;
                }
            }
        }
        &.middle {
            transform: translateY(-125px);
            @include media('<tablet') {
                transform: translateY(0);
                margin-bottom: 40px;
            }
            .decor-image {
                float: right;
                display: inline-block;
                transform: translateX(90px);
                @include media('<tablet') {
                    margin-bottom: 65px;
                }
                @include media('<714px') {
                    margin-bottom: 90px;
                }
                @include media('<650px') {
                    margin-bottom: 35px;
                }
            }
            .text-holder {
                &.left {
                    transform: translateY(-205px);
                    @include media('<tablet') {
                        transform: translateY(0);
                        position: relative;
                        width: 45%;
                        .title {
                            position: absolute;
                            width: 200%;
                            top: -50px;
                            font-size: 30px;
                            letter-spacing: -.5px;
                            @include media('<714px') {
                                top: -80px;
                            }
                            @include media('<650px') {
                                position: static;
                                width: 100%;
                            }
                        }
                    }
                    @include media('<650px') {
                        width: 100%;
                    }
                }
                &.right {
                    @include media('<tablet') {
                        width: 55%;
                        
                    }
                    @include media('<650px') {
                        width: 100%;
                    }
                }
            }
        }
        &.bottom {
            transform: translateY(-50px);
            @include media('<tablet') {
                transform: translateY(0);
            }
            .text-holder {
                margin-bottom: 40px;
                transform: translateY(-25px);
                @include media('<tablet') {
                    margin-bottom: 8%;
                    padding-top: 12%;
                    @include media('<650px') {
                        width: 80%;
                    }
                }
                &.bg-text {
                    @include media('<tablet') {
                        padding: 0;
                        float: none;
                        width: 100%;
                        margin-bottom: 35px;
                    }
                    @include media('<650px') {
                        width: 100%;
                    }
                }
            }
            .title {
                @include media('<650px') {
                        max-width: 75%;
                    }
            }
        }
        .title {
            font-size: 35px;
            @include media('<phone') {
                font-size: 27px;
            }
        }
        .text-holder {
            width: 50%;
            line-height: 1.6; // @include media('<desktop') {
            //     width: 100% !important;
            //     float: none !important;
            // }
            .title {
                line-height: 1.2;
                font-weight: 600;
                margin-bottom: 25px;
            }
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
            p {
                margin-bottom: 25px;
            }
        }
        .decorated-red {
            float: right;
            clear: both;
            padding: 30px 25px;
            background-color: transparent;
            color: #fff;
            max-width: 452px;
            font-weight: 600;
            position: relative;
            margin-bottom: 25px;
            background-size: 100% 100%;
            position: relative;
            text-align: center;
            @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#e11c1b" points="0,0 99.5,3 100,100 0.5,97  " /> </svg>'); // @include media('<desktop') {
            //     float: none;
            // }
            @include media('<tablet') {
                float: none;
            }
            @include media('<650px') {
                max-width: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                width: 139px;
                height: 44px;
                background-size: 100% 100%;
                opacity: .79;
                top: -24px;
                left: 50%;
                transform: translateX(-50%);
                @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');

            }
            .title {
                font-size: 20px;
                margin-bottom: 0;
            }
        }
        .text-image-group {
            @extend %clearfix;
            width: 50%;
            float: left; // @include media('<desktop') {
            //     width: 100%;
            //     float: none;
            //     order: 1;
            // }
            @include media('<tablet') {
                width: 100%;
                float: none;
                order: 1;
                position: relative;
                margin-bottom: 35px;
            }
            @include media('<650px') {
                order: 3;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .image-holder {
                float: left;
                display: inline-block;
                transform: translateX(-15px); // @include media('<widescreen') {
                //     width: 84%;
                // }
                @include media('<tablet') {
                    width: 60%;
                }
                @include media('<650px') {
                    width: 80%;
                    transform: translateX(0);
                }
                @include media('<phone') {
                    width: 100%;
                }
            }
            .sticker-bg-text {
                float: right;
                @include media('<tablet') {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        .img-group {
            width: 50%;
            float: left;
            position: relative;
            transform: translate(100px, -250px);
            @include media('<tablet') {
                transform: translate(-20px, 0);
            }
            @include media('<650px') {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .img-holder {
                @include media('<650px') {
                    width: 80%;
                }
            }
            .decor-image {
                position: absolute;
                top: 84%;
                left: -120px;
                @include media('<tablet') {
                    top: 260px;
                    left: 60px;
                }
                @include media('<650px') {
                    z-index: -1;
                    top: 90%;
                    left: auto;
                    right: -120px;
                    width: 60%;
                }
            }
        }
        .sticker-bg-text {
            font-size: 16px;
            background-size: 100% 100%;
            position: relative;
            z-index: -1;
            line-height: 1.6;
            &.tall {
                width: 84%;
                max-width: 450px;
                padding: 150px 60px 75px;
                background-image: url(../images/decorations/sticker.png);
                transform: translate(-35px, -150px);
                margin-bottom: -150px; // @include media('<widescreen') {
                //     padding: 150px 9.5% 12%;
                // }
                // @include media('<desktop') {
                //     margin-bottom: -150px;
                // }
                @include media('<tablet') {
                    position: absolute;
                    max-width: 410px;
                    bottom: -30px;
                    right: -6%;
                    margin: 0;
                    padding: 60px 10% 12% 15%;
                    transform: translate(0, 0);
                }
                @include media('<720px') {
                    padding: 60px 10% 12% 22%;
                    right: -8%;
                }
                @include media('<650px') {
                    width: 100%;
                    position: relative;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    padding: 75px 10% 12% 10%;
                    transform: translate(45px, -70px);
                    margin-bottom: -70px;
                }
                @include media('<phone') {
                    transform: translate(35px, -70px);
                }
            }
            &.middle {
                background-image: url(../images/decorations/sticker-wide.png);
                padding: 53px 80px 36px 10px;
                max-width: 525px;
                transform: translate(-20px, 40px);
                position: relative;
                @include media('<tablet') {
                    width: 115%;
                    transform: translate(10px, 0);
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 139px;
                    height: 44px;
                    background-size: 100% 100%;
                    opacity: .79;
                    top: 0;
                    left: 45%;
                    transform: translateX(-50%) rotate(-2deg);
                    @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');

                }
            }
            &.wide {
                width: 826px;
                // display: flex;
                // flex-wrap: wrap;
                // padding: 20px 25px 25px 40px;
                transform: translateX(-175px);
                background-color: $white;
                position: relative;
                z-index: 1;
                @include media('<tablet') {
                    width: 100%;
                    transform: translateX(0);
                }
                .sticker-inner {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 20px 25px 25px 40px;
                    background-color: $white;
                    position: relative;
                    z-index: 1;
                }
                &:before, &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 4px;
                    width: 60%;
                    bottom: -2px;
                    left: 33%;
                    background: linear-gradient(to right, rgba(118,118,118,.1) 0%,rgba(118,118,118,1) 25%,rgba(118,118,118,1) 75%,rgba(118,118,118,.1) 100%);
                    transform: translateX(-50%) rotate(-0.35deg);
                    z-index: -1;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 60%;
                    left: auto;
                    right: 33%;
                    transform: translateX(50%) rotate(0.35deg);
                    z-index: -1;
                }
                .title-side {
                    width: 27%;
                    @include media('<tablet') {
                        width: 40%;
                    }
                    @include media('<650px') {
                        width: 100%;
                    }
                    .title {
                        line-height: .7;
                        margin: 0;
                        max-width: 100%;
                    }
                    .subtitle {
                        margin: 0;
                    }
                    .cursive {
                        @include media('<650px') {
                            margin-bottom: 20px;
                        }
                    }
                }
                .text-side {
                    width: 73%;
                    display: flex;
                    align-items: center;
                    padding-left: 40px;
                    @include media('<tablet') {
                        width: 60%;
                    }
                    @include media('<650px') {
                        width: 100%;
                        text-align: center;
                        padding: 0;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
            .title {
                font-size: 60px;
                line-height: .3;
                margin-bottom: 22px;
                @include media('<tablet') {
                    line-height: .5;
                }
                @include media('<phone') {
                    font-size: 46px;
                }
            }
            .subtitle {
                font-size: 26px;
                font-weight: 600;
                line-height: 1.3;
                @include media('<phone') {
                    font-size: 18px;
                }
            }
        }
    }
}

.score-section {
    border-top: 3px solid $red;
    border-bottom: 3px solid $red;
    padding: 30px 0;
    position: relative;
    margin-bottom: 70px;
    @include media('<tablet') {
        padding: 11px 0;
    }
    .single-text {
        display: inline-block;
        max-width: 630px;
        margin-left: 34%;
        margin-right: auto;
        line-height: 1.4;
        font-size: 18px;
        strong {
            font-weight: 600;
            @include media('<tablet') {
                br {
                    display: none;
                }
            }
        }
        @include media('<tablet') {
            display: inline-block;
            max-width: 65%;
            margin-left: 35%;
            margin-right: auto;
        }
    }
    .image-holder-a,
    .image-holder-b {
        position: absolute;
        top: 0;
        width: 24%; // @include media('<widescreen') {
        //     width: 20%;
        // }
        // @include media('<desktop') {
        //     width: 30%;
        // }
        @include media('<tablet') {
            width: 30%;
        }
    }
    .image-holder-a {
        left: 8%;
        top: -30%; // @include media('<widescreen') {
        //     top: 0;
        // }
        // @include media('<desktop') {
        //     left: 0;
        // }
        @include media('<tablet') {
            left: 0;
            top: 33%;
        }
    }
    .image-holder-b {
        left: 13%;
        top: auto;
        bottom: 80%;
        z-index: 1; // @include media('<widescreen') {
        //     bottom: 30%;
        // }
        // @include media('<desktop') {
        //     left: 5%;
        //     bottom: 20%;
        // }
        @include media('<tablet') {
            left: 5%;
            bottom: 30%;
        }
    }
}

.end-section {
    margin-bottom: 40px;
    transform: translateY(-25px);
    .subtitle {
        font-size: 30px;
        line-height: 1;
        margin: 0;
    }
    .title {
        font-size: 70px;
        line-height: .7;
    }
}