.product-info {
	display: flex;
	flex-wrap: wrap;
	padding: 100px 0 200px;
	.split-container {
		display: flex;
		flex-wrap: wrap;
		.left-side,.right-side {
			width: 50%;
			position: relative;
		}
		.left-side {
			padding-left: 4.5%;
		}
	}
}

