.btn {
	@include animate (color background-color);
	display: flex;
	width: 100%;
	max-width: 176px;
	justify-content: center;
	align-items: center;
	height: 46px;
	padding: 0 21px;
	border: 2px solid transparent;
	border-radius: 50px;
	margin: 0 auto;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	&-red {
		background-color: $red;
		color: $white;
		border-color: $red;
		&:hover {
			background-color: $white;
			color: $red;
		}
	}
	&-white {
		background-color: $white;
		color: $red;
		border-color: $white;
		&:hover {
			background-color: $red;
			color: $white;
		}
	}
	&-long {
		max-width: 375px;
	}
}

.btn-holder {
	display: flex;
	width: 100%;
	justify-content: center;
}