.decoration-grid {
    .container {
        max-width: 1306px;
    }
    .decoration-section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .decoration-col {
            position: relative;
            width: 50%;
            padding-top: 20px;
            .label-box {
                margin: 0 auto -20px;
                z-index: 2;
            }
            .wshadow {
                z-index: 1;
                position: relative;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    right: 23px;
                    width: 160px;
                    height: 50%;
                    background-color: rgba(0, 0, 0, 0.25);
                    box-shadow: 37px -15px 50px 0 rgba(0, 0, 0, 0.25);
                    // background-color: rgba(0, 0, 0, .3);
                    z-index: -2 !important;
                    transform: rotate(10deg);
                    border-radius: 100% 0 0 0;
                    // @include media('<widescreen') {
                    //     right: 33px;
                    // }
                    @include media('<tablet') {
                        right: 33px;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    right: 23px;
                    width: 160px;
                    background-color: rgba(0, 0, 0, 0.25);
                    height: 50%;
                    box-shadow: 37px -15px 50px 0 rgba(0, 0, 0, 0.25);
                    border-radius: 0 0 0 100%;
                    // background-color: rgba(0, 0, 0, .3);
                    z-index: -2 !important;
                    transform: rotate(-10deg);
                    // @include media('<widescreen') {
                    //     right: 33px;
                    // }
                    @include media('<tablet') {
                        right: 33px;
                    }
                }
            }
            .text-holder {
                padding: 30px 30px 60px;
                background-color: $white;
                position: relative;
                z-index: 1;
                margin-bottom: 34px;
                // @include media('<desktop') {
                //     padding-left: 27px;
                //     padding-right: 25px;
                // }
                @include media('<tablet') {
                    padding-left: 27px;
                    padding-right: 25px;
                }
            }
        }
        &.decoration-section1 {
            // @include media('<desktop') {
            //     padding-top: 23px;
            // }
            @include media('<tablet') {
                padding-top: 23px;
            }
            .positioned-images {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
                img {
                    position: absolute;
                    &.img1 {
                        left: -61px;
                        top: -91px;
                        // @include media('<widescreen') {
                        //     left: -40px;
                        //     top: -80px;
                        //     max-width: 300px;
                        // }
                        // @include media('<desktop') {
                        //     display: none;
                        // }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                    &.img2 {
                        top: -57px;
                        right: -54px;
                        // @include media('<widescreen') {
                        //     max-width: 400px;
                        // }
                        // @include media('<desktop') {
                        //     display: none;
                        // }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                    &.img3 {
                        top: 60px;
                        left: 56%;
                        z-index: 99;
                        // @include media('<desktop') {
                        //     left: 60%;
                        // }
                        @include media('<tablet') {
                            left: auto;
                            right: -32px;
                        }
                        @include media('<phone') {
                            top: 0;
                        }
                    }
                    &.img4 {
                        bottom: -35px;
                        left: 39px;
                        // @include media('<desktop') {
                        //     bottom: -243px;
                        //     left: -12px;
                        // }
                        @include media('<tablet') {
                            bottom: -243px;
                            left: -12px;
                        }
                        @include media('<640px') {
                            bottom: 35%;
                            left: -155px;
                            transform: rotate(101deg);
                        }
                    }
                    &.img5 {
                        top: 36.5%;
                       // left: calc(100% + (100vw - 1274px)/2);
                       left:1602px;
                        transform: translateX(-100%);
                        // @include media('<1306px') {
                        //     width: 500px;
                        //     left: calc(100% + 15px);
                        // }
                        // @include media('<desktop') {
                        //     display: none;
                        // }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                }
            }
            .decoration-col {
                &.col-l {
                    width: 51%;
                    padding-left: 6%;
                    @include media('<desktop') {
                        // width: 100%;
                        // padding: 0 5% 0 17.5%;
                    }
                    @include media('<tablet') {
                        width: 100%;
                        padding: 0 5% 0 17.5%;
                    }
                    @include media('<640px') {
                        padding: 0 7px;
                    }
                    .wshadow .text-holder {
                        @include media('<640px') {
                            margin-bottom: 543px;
                        }
                    }
                }
                &.col-r {
                    padding-top: 132px;
                    width: 49%;
                    padding-left: 6.2%;
                    @include media('<desktop') {
                        // padding: 0;
                        // position: absolute;
                        // bottom: 74px;
                        // right: 19px;
                        // z-index: 2;
                        // width: auto;
                    }
                    @include media('<tablet') {
                        padding: 0;
                        position: absolute;
                        bottom: 74px;
                        right: 19px;
                        z-index: 2;
                        width: auto;
                        right: 5px;
                        bottom: 74px;
                    }
                    @include media('<640px') {
                        bottom: 200px;
                        left: 7%;
                        right: 7%;
                    }
                    @include media('<phone') {
                        left: 10px;
                        right: 10px;
                        bottom: 235px;
                    }
                    br {
                        @include media('<640px') {
                            display: none;
                        }
                    }
                }
            }
            .text-small {
                @include media('<640px') {
                    text-align: center;
                }
                img {
                    padding-left: 16px;
                    display: inline-block;
                    margin-bottom: -47px;
                    @include media('<640px') {
                        margin: 0 60px -60px 0;
                        padding: 0;
                    }
                }
                .text-box {
                    background-color: $white;
                    padding: 13px 5px;
                    text-align: center;
                    max-width: 294px;
                    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
                    line-height: 1.5;
                    position: relative;
                    z-index: 2;
                    @include media('<desktop') {
                       // padding: 13px 19px;
                    }
                    @include media('<tablet') {
                        padding: 13px 19px;
                    }
                    @include media('<640px') {
                        max-width: 381px;
                        margin: 0 auto;
                    }
                    @include media('<phone') {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .decorated-title {
                        font-weight: 400;
                        font-family: $font-felt;
                        font-size: 32px;
                        color: $red;
                        letter-spacing: -0.8px;
                        margin-bottom: 2px;
                        line-height: 1;
                        margin-bottom: 7px;
                    }
                }
            }
            .bottom-text {
                position: relative;
                padding-left: 42%;
                padding-top: 22px;
                @include media('<640px') {
                    padding-left: 0;
                }
                p {
                    margin-bottom: 8px !important;
                }
                .img-holder {
                    width: 66%;
                    position: absolute;
                    right: 63%;
                    top: -3px;
                    // @include media('<1306px') {
                    //     width: 60%;
                    //     right: 60%;
                    // }
                    // @include media('<desktop') {
                    //     width: 50%;
                    //     right: 62%;
                    //     top: 15px;
                    // }
                    // @include media('<840px') {
                    //     width: 65%;
                    // }
                    @include media('<tablet') {
                            right: 62%;
                            top: 15px;
                            width: 65%;
                    }
                    @include media('<640px') {
                        width: 341px;
                        top: calc(100% + 0px);
                        left: 52%;
                        bottom: auto;
                        transform: translateX(-50%);
                        position: absolute;
                        margin: 0;
                    }
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                    .img-caption {
                        position: absolute;
                        top: 78%;
                        left: 41px;
                        line-height: 1.4;
                        right: 10px;
                        font-size: 14px;
                        letter-spacing: -0.5px;
                        // @include media('<1306px') {
                        //     left: 30px;
                        //     right: 10px;
                        //     font-size: 11px;
                        //     top: 75%;
                        // }
                        // @include media('<desktop') {
                        //     left: 11%;
                        //     font-size: 14px;
                        // }
                        // @include media('<840px') {
                        //     top: 78%;
                        // }
                        @include media('<tablet') {
                            right: 10px;
                            font-size: 11px;
                            left: 11%;
                            top: 78%;
                            font-size: 12px;
                        }
                    }
                }
                p:last-child {
                    margin-bottom: 0;
                }
                .marked {
                    color: $red;
                }
            }
            .text-holder {
                margin-top: 5px;
                line-height: 1.6;
                @include media('<640px') {
                    padding-bottom: 48px;
                }
                p {
                    margin-bottom: 24px;
                    @include media('<640px') {
                        margin-bottom: 14px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .label-box {
                transform: translateX(-15px);
                // @include media('<desktop') {
                //     margin-left: 0;
                //     transform: translateX(-93px);
                // }
                @include media('<tablet') {
                    margin-left: 0;
                    transform: translateX(-93px);
                }
                @include media('<640px') {
                    transform: translateX(0);
                    margin: 0 auto -22px;
                }
            }
            .decorated-red {
                padding: 36px 26px;
                font-size: 14px;
                line-height: 1.45;
                background-color: transparent;
                color: $white;
                max-width: 364px;
                float: right;
                margin-right: -21%;
                font-weight: 300;
                position: relative;
                margin-bottom: 10px;
                // @include media('<desktop') {
                //     margin-right: 0;
                //     margin: 0 0 0 -19%;
                //     float: left;
                //     transform: translateY(15vw);
                //     max-width: 410px;
                //     padding-bottom: 55px;
                // }
                @include media('<tablet') {
                    margin-right: 0;
                    margin: 0 0 0 -19%;
                    float: left;
                    transform: translateY(15vw);
                    max-width: 410px;
                    padding-bottom: 55px;
                    margin-left: -25%;
                }
                @include media('<640px') {
                    margin: 0 auto;
                    max-width: 406px;
                    float: none;
                }
                @include media('<phone') {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 139px;
                    height: 44px;
                    background-size: 100% 100%;
                    opacity: .79;
                    top: -13px;
                    left: 170px;
                    transform: translateX(-50%);
                    @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');

                }
                strong {
                    font-weight: bold;
                }
                background-size: 100% 100%;
                @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#e11c1b" points="0,6 95,0 100,87 1,92  " /> </svg>');

            }
        }
        &.decoration-section2 {
            position: relative;
            // @include media('<desktop') {
            //     flex-direction: column-reverse;
            //     padding: 0 15px;
            //     margin-bottom: 302px;
            // }
            @include media('<tablet') {
                flex-direction: column-reverse;
                padding: 0 15px;
                margin-bottom: 302px;
            }
            @include media('<640px') {
                padding-left: 7px;
                padding-right: 7px;
                margin-bottom: 600px;
            }
            .img-text-holder {
                @include media('<640px') {
                    text-align: center;
                }
                .img-holder{
                    @include media('<640px') {
                     margin-left: 58px !important;
                    }   
                }
                .text-holder.decorated-red {
                    @include media('<640px') {
                        width: 100%;
                        margin: 0 15px;
                        ;
                        max-width: 95%;
                        text-align: left;
                    }
                }
            }
            .col-l {
                padding: 0;
                width: 40%;
                margin-top: 60px;
                @include media('<desktop') {
                    // width: 100%;
                    // margin-top: 45px;
                    // margin-left: 21px;
                }
                @include media('<tablet') {
                    width: 100%;
                    margin-top: 45px;
                    margin-left: 21px;
                }
                @include media('<640px') {
                    margin-left: 0;
                }
                .img-holder {
                    margin-left: 37px;
                    margin-bottom: -30px;
                    z-index: 10;
                    position: relative;
                    @include media('<640px') {
                        margin-left: 0;
                        display: inline-block;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        width: 87px;
                        height: 171px;
                        background-size: 100% 100%;
                        opacity: .79;
                        bottom: -30px;
                        left: 225px;
                        z-index: 10;
                        @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="0,7.5 48,0 100,92 48,100  " /> </svg>');

                    }
                }
                .text-holder {
                    margin-left: -15px;
                    padding: 40px 16px 12px;
                }
            }
            .col-r {
                padding: 0;
                width: 55%;
                @include media('<desktop') {
                    // width: 100%;
                    // padding-top: 116px;
                }
                @include media('<tablet') {
                    width: 100%;
                    padding-top: 116px;
                }
                .label-box {
                    margin-left: 22%;
                    @include media('<desktop') {
                        // margin-right: 0;
                        // margin-left: auto;
                    }
                    @include media('<tablet') {
                        margin-right: 0;
                        margin-left: auto;
                    }
                    @include media('<640px') {
                        margin: 0 auto;
                    }
                }
                .text-holder {
                    padding: 36px 31px;
                    line-height: 1.5;
                    @include media('<desktop') {
                        // margin-bottom: 0;
                    }
                    @include media('<tablet') {
                        margin-bottom: 0;
                    }
                    p {
                        margin-bottom: 27px;
                        &:last-of-type {
                            margin-bottom: 7px;
                            ;
                        }
                    }
                    .marked {
                        color: $red;
                    }
                }
            }
            .img-row {
                position: relative;
                @include media('<desktop') {
                    // position: absolute;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                    // height: 288px;
                }
                @include media('<tablet') {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 288px;
                }
                @include media('<640px') {
                    height: 600px;
                    bottom:-600px;
                    lefT:-15px;
                    right:-15px;
                    width: auto;
                }
                .info-hand {
                    top: -70px;
                    position: absolute;
                    width: 885px;
                    right: 1600px;
                    transform: translateX(100%);
                    // @include media('<desktop') {
                    //     left: -15px;
                    //     right: auto;
                    //     top: auto;
                    //     width: 760px !important;
                    //     left: -103px;
                    //     bottom: -335px;
                    //     transform: translate(0)
                    // }
                    // @include media('<1306px') {
                    //     right: calc(100% + 15px);
                    //     width: 700px;
                    // }
                    @include media('<tablet') {
                            right: calc(100% + 15px);
                            width: 700px;
                            left: -15px;
                            right: auto;
                            top: auto;
                            width: 760px !important;
                            left: -103px;
                            bottom: -335px;
                            transform: translate(0)
                    }
                    @include media('<640px') {
                        width: auto !important;
                        top: 19px;
                        right: -47px;
                        left: -183px;
                    }
                    .text-holder {
                        position: absolute;
                        right: 130px;
                        width: 30%;
                        top: 50%;
                        text-align: center;
                        transform: translateY(-60%);
                        line-height: 1.6;
                        // @include media('<1306px') {
                        //     right: 86px;
                        //     width: 31%;
                        // }
                        // @include media('<desktop') {
                        //     right: 100px;
                        // }
                        @include media('<tablet') {
                            right: 100px;
                            width: 31%;
                        }
                        @include media('<640px') {
                            font-size: 3.2vw;
                            top: 33vw;
                            right: 13%;
                        }
                        strong {
                            color: $red;
                        }
                    }
                }
                width:100%;
                text-align: right;
                img {
                    display: inline-block;
                }
                .img3 {
                    margin-top: -30px;
                    margin-right: -80px;
                    @include media('<desktop') {
                        // position: absolute;
                        // top: -177px;
                        // right: -124px;
                        // margin: 0;
                    }
                    @include media('<tablet') {
                        position: absolute;
                        top: -177px;
                        right: -124px;
                        margin: 0;
                    }
                    @include media('<640px') {
                        position: absolute;
                        margin: 0;
                       
                        transform: translate(0);
                        bottom: -21px;
                        left: auto;
                        top: auto;
                        right: -122px;
                    }
                }
                .img2 {
                    margin-top: 0px;
                    margin-right: -37px;
                    @include media('<desktop') {
                        // margin-top: 0px;
                        // margin-right: 0;
                        // position: absolute;
                        // right: -40px;
                        // bottom: -106px;
                        // z-index: 99;
                    }
                    @include media('<tablet') {
                        margin-top: 0px;
                        margin-right: 0;
                        position: absolute;
                        right: -40px;
                        bottom: -106px;
                        z-index: 99;
                    }
                    @include media('<640px') {
                        position: absolute;
                        margin: 0;
                        top: auto;
                        bottom: 0;
                        right: auto;
                        left: -11px;
                    }
                    @include media('<phone') {
                        left:-20%;
                    }
                }
            }
            .positioned-images {
                position: absolute;
                pointer-events: none;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                .img1 {
                    position: absolute;
                    top: -91px;
                    right: 103px;
                    @include media('<desktop') {
                        // top: -71px;
                        // right: -8px;
                    }
                    @include media('<tablet') {
                        top: -71px;
                        right: -8px;
                    }
                }
            }
            .decorated-red {
                padding: 36px 26px;
                font-size: 14px;
                line-height: 1.45;
                background-color: transparent;
                color: $white;
                max-width: 437px;
                font-weight: 300;
                position: relative;
                margin-bottom: 10px;
                @include media('<desktop') {
                    // max-width: 60%;
                }
                @include media('<tablet') {
                    max-width: 60%;
                }
                strong {
                    font-weight: bold;
                }
                background-size: 100% 100%;
                @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#e11c1b" points="0,0 100,0 100,100 0,100  " /> </svg>');

            }
        }
        &.decoration-section3 {
            position: relative;
            display: flex;
            @include media('<640px') {
             padding: 0 7px;
            }
            .col-l {
                padding: 0 0 0 73px;
                width: 51%;
                position: relative;
                @include media('<desktop') {
                    // width: 82%;
                    // padding: 15px 0 0 0;
                    // margin: 0 0 0 auto;
                }
                @include media('<tablet') {
                    width: 82%;
                    padding: 15px 0 0 0;
                    margin: 0 0 0 auto;
                }
                @include media('<640px') {
                    width:100%;
                }
                .label-box {
                    margin-right: 30px;
                    margin-top: -17px;
                    @include media('<640px') {
                      margin: 0 auto -37px;
                    }
                }
                .text-holder {
                    padding: 36px 31px;
                    line-height: 1.5;
                    p {
                        margin-bottom: 27px;
                        &:last-of-type {
                            margin-bottom: 7px;
                            ;
                        }
                    }
                    .marked {
                        color: $red;
                    }
                }
                .decorated-images {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    .img1 {
                        position: absolute;
                        left: -109px;
                        top: -132px;
                        z-index: 5;
                        @include media('<desktop') {
                            // position: absolute;
                            // left: -470px;
                            // top: -123px;
                            // z-index: 5;
                            // transform: scaleX(-1);
                        }
                        @include media('<tablet') {
                            position: absolute;
                            left: -470px;
                            top: -123px;
                            z-index: 5;
                            transform: scaleX(-1);
                        }
                        @include media('<640px') {
                            left: -94%;
                            top: -1092px;
                        }
                    }
                    .img2 {
                        position: absolute;
                        top: 74%;
                        z-index: 5;
                        left: -55px;
                        // @include media('<desktop') {
                        //     left: -135px;
                        // }
                        @include media('<tablet') {
                            left: -135px;
                        }
                    }
                }
            }
            .col-r {
                padding: 0;
                position: relative;
                text-align: center;
                width: 49%;
                // @include media('<desktop') {
                //     width: 100% !important;
                // }
                @include media('<tablet') {
                    width: 100% !important;
                }
                @include media('<640px') {
                 text-align: left;
                 margin-top: -15px;
                }
                .product-img {
                    transform: translateX(52px);
                    // @include media('<desktop') {
                    //     display: none;
                    // }
                    @include media('<tablet') {
                        display: none;
                    }
                    @include media('<640px') {
                            display: inline-block;
                            margin-left: -20px;
                    }
                }
                .decorated-images {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    @include media('<desktop') {
                        // position: relative;
                        // width: 100%;
                        // display: flex;
                        // justify-content: flex-end;
                        // align-items: flex-start;
                        // transform: translateY(-66px)
                    }
                    @include media('<tablet') {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        transform: translateY(-66px)
                    }
                    @include media('<640px') {
                        display: block;
                    }
                    .info-hand {
                        img {
                            widows: 100%;
                        }
                        position: absolute;
                        left: -100px;
                        width: 682px;
                        top: 48.5%;
                        left: 948px;
                        transform: translateX(-100%);
                        // @include media('<1306px') {
                        //     left: calc(100% + 15px);
                        //     width: 550px;
                        // }
                        // @include media('<widescreen') {
                        //     left: calc(100% + 60px);
                        // }
                        // @include media('<desktop') {
                        //     position: static;
                        //     float: right;
                        //     position: static;
                        //     margin: 0 0 0 auto;
                        //     transform: translate(15px);
                        // }
                        @include media('<tablet') {
                            left: calc(100% + 15px);
                            width: 550px;
                            left: calc(100% + 60px);
                            position: static;
                            float: right;
                            position: static;
                            margin: 0 0 0 auto;
                            transform: translate(15px);
                        }
                        @include media('<640px') {
                            position: static;
                            float: right;
                            width: 509px;
                            position: static;
                            margin: 20px 0 0 auto;
                            -webkit-transform: translate(15px);
                            -ms-transform: translate(15px);
                            transform: translate(94px);
                        }
                        @include media('<phone') {
                            transform: translate(174px);
                        }
                        .text-holder {
                            position: absolute;
                            top: 96px;
                            left: 41px;
                            width: 383px;
                            height: 30px;
                            text-align: center;
                            @include media('<1306px') {
                                // top: 68px;
                                // left: 32px;
                                // width: 310px;
                                // height: 30px;
                            }
                            @include media('<tablet') {
                                top: 68px;
                                left: 32px;
                                width: 310px;
                                height: 30px;
                            }
                            @include media('<640px') {
                                background-color: transparent;
                                height: auto;
                                left: auto;
                                width: 60%;
                                right: 37%;
                                top: 50px;
                                font-size: 16px;
                            }
                            strong {
                                color: red;
                            }
                        }
                    }
                    .img2 {
                        position: absolute;
                        top: 7%;
                        left: 25px;
                        // @include media('<desktop') {
                           
                        // }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                }
            }
            .bottom-row {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 48px 0 0 50px;
                font-size: 14px;
                line-height: 1.5;
                justify-content: flex-start;
                margin-bottom: -88px;
                // @include media('<widescreen') {
                //     margin: 0;
                // }
                // @include media('<desktop') {
                //     margin: -256px 0 36px -100px;
                //     padding: 0;
                //     width: 140%;

                // }
                @include media('<tablet') {
                    margin: 0;
                    margin: -256px 0 36px -100px;
                    padding: 0;
                    width: 140%;
                }
                @include media('<640px') {
                    display: block;
                    margin:-98px 0 20px 0;
                    padding: 0 0 0 30px;
                    position: relative;
                }
           
                img {
                    @include media('<640px') {
                        width:327px;
                        position: absolute;
                    
                        left: -93px;
                        top: -126px;
                    }
                    @include media('<phone') {
                  left:-200px;
                    }
                }
                .decorated-red {
                    position: relative;
                    max-width: 614px;
                    padding: 30px 50px 30px 80px;
                    transform: translate(-106px, -38px);
                    z-index: -1;
                    position: relative;
                    color: $white;
                    background-color: $red;
                    // @include media('<desktop') {
                    //     max-width: 51%;
                    //     width: 999px;
                    //     transform: translate(-153px, 84px);
                    //     padding-left: 102px;
                    // }
                    @include media('<tablet') {
                        max-width: 51%;
                        width: 999px;
                        transform: translate(-153px, 84px);
                        padding-left: 102px;
                    }
                    @include media('<640px') {
                        padding-left: 130px;
                        transform: translate(0);
                        width:100%;
                        max-width: 100%;
                        padding:30px 5px 30px 164px;;
                    }
                    @include media('<phone') {
                     padding: 60px;
                    }
                 
                        &:before {
                            content: '';
                            position: absolute;
                            width: 139px;
                            height: 44px;
                            background-size: 100% 100%;
                            opacity: .79;
                            top: -13px;
                            left: 170px;
                            transform: translateX(-50%);
                            @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');
                            @include media('<640px') {
                                top: -37px;
                                left: 278px;
                            }
                        }
                    }
                
            }
        }
    }
}