.decoration-grid {
    font-size: 1.11vw;
    @include media('>1920px') {
        font-size: 16px;
    }
    @include media('<tablet') {
        font-size: 16px;
    }
    .container {
        max-width: 90.76vw;
        @include media('>1920px') {
            max-width: 1306px;
        }
    }
    .section-headline {
        margin-bottom: 4.86vw;
        @include media('>1920px') {
            margin-bottom: 70px;
        }
        @include media('<tablet') {
            margin-bottom: 70px;
        }
        .h4 {
            margin-bottom: -0.28vw;
            @include media('>1920px') {
                margin-bottom: -4px;
            }
            @include media('<tablet') {
                margin-bottom: -4px;
            }
        }
        h1 {
            margin-bottom: 0.69vw;
            @include media('>1920px') {
                margin-bottom: 10px;
            }
            @include media('<tablet') {
                margin-bottom: 10px;
            }
        }
    }
    .decoration-section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .decoration-col {
            position: relative;
            width: 50%;
            padding-top: 1.39vw;
            @include media('>1920px') {
                padding-top: 20px;
            }
            @include media('<tablet') {
                padding-top: 20px;
            }
            .label-box {
                margin: 0 auto -1.39vw;
                z-index: 2;
                @include media('>1920px') {
                    margin: 0 auto -20px;
                }
                @include media('<tablet') {
                    margin: 0 auto -20px;
                }
            }
            .wshadow {
                z-index: 1;
                position: relative;
                box-shadow: 0 0.69vw 1.39vw 0 rgba(0, 0, 0, .3);
                @include media('>1920px') {
                    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
                }
                @include media('<tablet') {
                    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    right: 1.6vw;
                    width: 11.12vw;
                    height: 50%;
                    background-color: rgba(0, 0, 0, 0.25);
                    box-shadow: 2.57vw -1.04vw 3.47vw 0 rgba(0, 0, 0, 0.25);
                    z-index: -2 !important;
                    transform: rotate(10deg);
                    border-radius: 100% 0 0 0;
                    @include media('>1920px') {
                        right: 23px;
                        width: 160px;
                        box-shadow: 37px -15px 50px 0 rgba(0, 0, 0, 0.25);
                    }
                    @include media('<tablet') {
                        right: 33px;
                        width: 160px;
                        box-shadow: 37px -15px 50px 0 rgba(0, 0, 0, 0.25);
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -0.69vw;
                    right: 1.6vw;
                    width: 11.12vw;
                    background-color: rgba(0, 0, 0, 0.25);
                    height: 50%;
                    box-shadow: 2.57vw -1.04vw 3.47vw 0 rgba(0, 0, 0, 0.25);
                    border-radius: 0 0 0 100%;
                    z-index: -2 !important;
                    transform: rotate(-10deg);
                    @include media('>1920px') {
                        right: 23px;
                        bottom: -10px;
                        width: 160px;
                        box-shadow: 37px -15px 50px 0 rgba(0, 0, 0, 0.25);
                    }
                    @include media('<tablet') {
                        right: 33px;
                        bottom: -10px;
                        width: 160px;
                        box-shadow: 37px -15px 50px 0 rgba(0, 0, 0, 0.25);
                    }
                }
            }
            .text-holder {
                padding: 2.08vw 2.08vw 4.7vw;
                background-color: $white;
                position: relative;
                z-index: 1;
                margin-bottom: 2.36vw;
                @include media('>1920px') {
                    padding: 30px 30px 68px;
                    margin-bottom: 34px;
                }
                @include media('<tablet') {
                    padding: 30px 25px 60px 27px;
                    margin-bottom: 34px;
                }
            }
        }
        &.decoration-section1 {
            @include media('<tablet') {
                padding-top: 23px;
            }
            .positioned-images {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
                img {
                    position: absolute;
                    &.img1 {
                        left: -4.24vw;
                        top: -6.32vw;
                        width: 22.58vw;
                        @include media('>1920px') {
                            left: -61px;
                            top: -91px;
                            width: 325px;
                        }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                    &.img2 {
                        top: -3.96vw;
                        right: -3.75vw;
                        width: 32.8vw;
                        @include media('>1920px') {
                            top: -57px;
                            right: -54px;
                            width: 472px;
                        }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                    &.img3 {
                        top: 4.17vw;
                        left: 56%;
                        width: 10vw;
                        z-index: 99;
                        @include media('>1920px') {
                            top: 60px;
                            width: 144px;
                        }
                        @include media('<tablet') {
                            left: auto;
                            width: auto;
                            right: 13%;
                            top: 60px;
                        }
                        @include media('<640px') {
                            left: auto;
                            width: auto;
                            right: -32px;
                            top: 60px;
                        }
                        @include media('<phone') {
                            top: 0;
                            right: -32px
                        }
                    }
                    &.img4 {
                        bottom: -2.43vw;
                        left: 2.71vw;
                        width: 23vw;
                        @include media('>1920px') {
                            bottom: -35px;
                            left: -39px;
                            width: 331px;
                        }
                        @include media('<tablet') {
                            bottom: -243px;
                            left: -12px;
                            width: auto;
                        }
                        @include media('<640px') {
                            bottom: 35%;
                            left: -155px;
                            transform: rotate(101deg);
                        }
                    }
                    &.img5 {
                        top: 39.5%;
                        width: 47.95vw;
                        right: -12vw;
                        @include media('>1920px') {
                            width: 690px;
                            right: -173px;
                        }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                }
            }
            .decoration-col {
                &.col-l {
                    width: 51%;
                    padding-left: 6%;
                    @include media('<tablet') {
                        width: 100%;
                        padding: 0 5% 0 17.5%;
                    }
                    @include media('<640px') {
                        padding: 0 7px;
                    }
                    .wshadow .text-holder {
                        @include media('<640px') {
                            margin-bottom: 543px;
                        }
                    }
                }
                &.col-r {
                    padding-top: 9.17vw;
                    width: 49%;
                    padding-left: 6.2%;
                    @include media('>1920px') {
                        padding-top: 132px;
                    }
                    @include media('<tablet') {
                        padding: 0;
                        position: absolute;
                        bottom: 74px;
                        right: 19px;
                        z-index: 2;
                        width: auto;
                        right: 5px;
                        bottom: 74px;
                    }
                    @include media('<640px') {
                        bottom: 200px;
                        left: 7%;
                        right: 7%;
                    }
                    @include media('<phone') {
                        left: 10px;
                        right: 10px;
                        bottom: 235px;
                    }
                    br {
                        @include media('<640px') {
                            display: none;
                        }
                    }
                }
            }
            .text-small {
                @include media('<640px') {
                    text-align: center;
                }
                img {
                    padding-left: 1.11vw;
                    display: inline-block;
                    margin-bottom: -3.27vw;
                    @include media('>1920px') {
                        padding-left: 16px;
                        margin-bottom: -47px;
                    }
                    @include media('<tablet') {
                        padding-left: 16px;
                        margin-bottom: -47px;
                    }
                    @include media('<640px') {
                        margin: 0 60px -60px 0;
                        padding: 0;
                    }
                }
                .text-box {
                    background-color: $white;
                    padding: 0.9vw 0.35vw;
                    text-align: center;
                    max-width: 20.43vw;
                    box-shadow: 0 0.35vw 0.69vw 0 rgba(0, 0, 0, .3);
                    line-height: 1.5;
                    position: relative;
                    z-index: 2;
                    @include media('>1920px') {
                        padding: 13px 5px;
                        max-width: 294px;
                        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
                    }
                    @include media('<tablet') {
                        padding: 13px 19px;
                        max-width: 294px;
                        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
                    }
                    @include media('<640px') {
                        max-width: 381px;
                        margin: 0 auto;
                    }
                    @include media('<phone') {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .decorated-title {
                        font-weight: 400;
                        font-family: $font-felt;
                        font-size: 2.22vw;
                        color: $red;
                        letter-spacing: -0.05vw;
                        margin-bottom: 0.14vw;
                        line-height: 1;
                        margin-bottom: 0.49vw;
                        @include media('>1920px') {
                            font-size: 32px;
                            letter-spacing: -0.72px;
                            margin-bottom: 2px;
                            margin-bottom: 7px;
                        }
                        @include media('<tablet') {
                            font-size: 32px;
                            letter-spacing: -0.72px;
                            margin-bottom: 2px;
                            margin-bottom: 7px;
                        }
                    }
                }
            }
            .bottom-text {
                position: relative;
                padding-left: 42%;
                padding-top: 1.53vw;
                @include media('>1920px') {
                    padding-top: 22px;
                }
                @include media('<tablet') {
                    padding-top: 22px;
                }
                @include media('<640px') {
                    padding-left: 0;
                }
                p {
                    margin-bottom: 0.55vw !important;
                    @include media('>1920px') {
                        margin-bottom: 8px !important;
                    }
                    @include media('<tablet') {
                        margin-bottom: 8px !important;
                    }
                }
                .img-holder {
                    width: 66%;
                    position: absolute;
                    right: 63%;
                    top: -0.2vw;
                    @include media('>1920px') {
                        top: -3px;
                    }
                    @include media('<tablet') {
                        right: 62%;
                        top: 15px;
                        width: 65%;
                    }
                    @include media('<640px') {
                        width: 341px;
                        top: calc(100% + 0px);
                        left: 52%;
                        bottom: auto;
                        transform: translateX(-50%);
                        position: absolute;
                        margin: 0;
                    }
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                    .img-caption {
                        position: absolute;
                        top: 78%;
                        left: 2.85vw;
                        line-height: 1.4;
                        right: 0.69vw;
                        font-size: 0.97vw;
                        letter-spacing: -0.5px;
                        @include media('>1920px') {
                            right: 10px;
                            font-size: 14px;
                            left: 41px;
                            font-size: 14px;
                        }
                        @include media('<tablet') {
                            right: 10px;
                            font-size: 11px;
                            left: 11%;
                            top: 78%;
                            font-size: 1.55vw;
                        }
                        @include media('<640px') {
                            font-size: 13px;
                        }
                    }
                }
                p:last-child {
                    margin-bottom: 0;
                }
                .marked {
                    color: $red;
                }
            }
            .text-holder {
                margin-top: 0.35vw;
                line-height: 1.6;
                @include media('>1920px') {
                    margin-top: 5px;
                }
                @include media('<tablet') {
                    margin-top: 5px;
                }
                @include media('<640px') {
                    padding-bottom: 48px;
                }
                p {
                    margin-bottom: 1.67vw;
                    @include media('>1920px') {
                        margin-bottom: 24px;
                    }
                    @include media('<tablet') {
                        margin-bottom: 24px;
                    }
                    @include media('<640px') {
                        margin-bottom: 14px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .label-box {
                transform: translateX(-1.04vw);
                @include media('>1920px') {
                    transform: translateX(-15px);
                }
                @include media('<tablet') {
                    margin-left: 0;
                    transform: translateX(-93px);
                }
                @include media('<640px') {
                    transform: translateX(0);
                    margin: 0 auto -22px;
                }
            }
            .decorated-red {
                padding: 2.5vw 1.8vw 2.5vw 1.8vw;
                font-size: 0.97vw;
                line-height: 1.45;
                background-color: transparent;
                color: $white;
                max-width: 25.29vw;
                float: right;
                margin-right: -21%;
                font-weight: 300;
                position: relative;
                margin-bottom: 0.69vw;
                @include media('>1920px') {
                    padding: 36px 26px 36px 26px;
                    font-size: 14px;
                    max-width: 364px;
                    margin-bottom: 10px;
                }
                @include media('<tablet') {
                    margin-right: 0;
                    margin: 0 0 10px -19%;
                    float: left;
                    transform: translateY(15vw);
                    max-width: 410px;
                    margin-left: -25%;
                    padding: 36px 26px 55px 26px;
                    font-size: 14px;
                }
                @include media('<640px') {
                    margin: 0 auto;
                    max-width: 406px;
                    float: none;
                }
                @include media('<phone') {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 9.66vw;
                    height: 3.06vw;
                    background-size: 100% 100%;
                    opacity: .79;
                    top: -0.9vw;
                    left: 11.81vw;
                    transform: translateX(-50%);
                    @include media('>1920px') {
                        width: 139px;
                        height: 44px;
                        top: -13px;
                        left: 170px;
                    }
                    @include media('<tablet') {
                        width: 139px;
                        height: 44px;
                        top: -13px;
                        left: 170px;
                    }
                    @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');

                }
                strong {
                    font-weight: bold;
                }
                background-size: 100% 100%;
                @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#e11c1b" points="0,6 95,0 100,87 1,92  " /> </svg>');

            }
        }
        &.decoration-section2 {
            position: relative;
            @include media('<tablet') {
                flex-direction: column-reverse;
                padding: 0 15px;
                margin-bottom: 302px;
            }
            @include media('<640px') {
                padding-left: 7px;
                padding-right: 7px;
                margin-bottom: 600px;
            }
            .label-box {
                @include media('<tablet') {
                    margin-bottom: -30px;
                }
                @include media('<640px') {
                    margin-bottom: -30px !important;
                }
            }
            .img-text-holder {
                @include media('<640px') {
                    text-align: center;
                }
                .img-holder {
                    @include media('<640px') {
                        margin-left: 58px !important;
                    }
                }
                .text-holder.decorated-red {
                    @include media('<640px') {
                        width: 100%;
                        margin: 0 15px;
                        max-width: 95%;
                        text-align: left;
                    }
                }
            }
            .col-l {
                padding: 0;
                width: 40%;
                margin-top: 4.17vw;
                @include media('>1920px') {
                    margin-top: 60px;
                }
                @include media('<tablet') {
                    width: 100%;
                    margin-top: 45px;
                    margin-left: 21px;
                }
                @include media('<640px') {
                    margin-left: 0;
                }
                .img-holder {
                    margin-left: 2.57vw;
                    transform: translateY(2.08vw);
                    z-index: 10;
                    position: relative;
                    @include media('>1920px') {
                        margin-left: 37px;
                        transform: translateY(30px);
                    }
                    img {
                        @include media('>=tablet') {
                            width: 18.55vw;
                        }
                        @include media('>1920px') {
                            width: 267px;
                        }
                    }
                    @include media('<tablet') {
                        margin-left: 37px;
                        transform: translateY(30px);
                    }
                    @include media('<640px') {
                        margin-left: 0;
                        display: inline-block;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        width: 6.04vw;
                        height: 11.88vw;
                        background-size: 100% 100%;
                        opacity: .79;
                        bottom: -2.08vw;
                        left: 15.63vw;
                        z-index: 10;
                        @include media('>1920px') {
                            width: 87px;
                            height: 171px;
                            bottom: -30px;
                            left: 225px;
                        }
                        @include media('<tablet') {
                            width: 87px;
                            height: 171px;
                            bottom: -30px;
                            left: 225px;
                        }
                        @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="0,7.5 48,0 100,92 48,100  " /> </svg>');

                    }
                }
                .text-holder {
                    margin-left: -1.04vw;
                    padding: 2.78vw 1.11vw 0.83vw;
                    @include media('>1920px') {
                        margin-left: -15px;
                        padding: 40px 16px 12px;
                    }
                    @include media('<tablet') {
                        margin-left: -15px;
                        padding: 40px 16px 12px;
                    }
                }
            }
            .col-r {
                padding: 0;
                width: 55%;
                @include media('<tablet') {
                    width: 100%;
                    padding-top: 116px;
                }
                .label-box {
                    margin-left: 22%;
                    @include media('<tablet') {
                        margin-right: 0;
                        margin-left: auto;
                    }
                    @include media('<640px') {
                        margin: 0 auto;
                    }
                }
                .text-holder {
                    padding: 2.5vw 2.15vw;
                    line-height: 1.5;
                    @include media('>1920px') {
                        padding: 36px 31px;
                    }
                    @include media('<tablet') {
                        margin-bottom: 0;
                        padding: 36px 31px;
                    }
                    p {
                        margin-bottom: 1.88vw;
                        @include media('>1920px') {
                            margin-bottom: 27px;
                        }
                        @include media('<tablet') {
                            margin-bottom: 27px;
                        }
                        &:last-of-type {
                            margin-bottom: 0.49vw;
                            @include media('>1920px') {
                                margin-bottom: 7px;
                            }
                            @include media('<tablet') {
                                margin-bottom: 7px;
                            }
                            ;
                        }
                    }
                    .marked {
                        color: $red;
                    }
                }
            }
            .img-row {
                position: relative;
                @include media('<tablet') {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 288px;
                }
                @include media('<640px') {
                    height: 600px;
                    bottom: -600px;
                    lefT: -15px;
                    right: -15px;
                    width: auto;
                }
                .info-hand {
                    top: -4.86vw;
                    position: absolute;
                    width: 61.5vw;
                    left: -7vw;
                    @include media('>1920px') {
                        top: -70px;
                        width: 885px;
                        left: -101px;
                    }
                    img {
                        @include media('>=tablet') {
                            width: 100%;
                        }
                    }
                    @include media('<tablet') {
                        right: calc(100% + 15px);
                        width: 700px;
                        left: -15px;
                        right: auto;
                        top: auto;
                        width: 760px !important;
                        left: -103px;
                        bottom: -335px;
                        transform: translate(0)
                    }
                    @include media('<640px') {
                        width: auto !important;
                        top: 19px;
                        right: -47px;
                        left: -183px;
                    }
                    .text-holder {
                        position: absolute;
                        right: 9.03vw;
                        width: 30%;
                        top: 50%;
                        text-align: center;
                        transform: translateY(-60%);
                        line-height: 1.6;
                        @include media('>1920px') {
                            right: 130px;
                        }
                        @include media('<tablet') {
                            right: 100px;
                            width: 31%;
                        }
                        @include media('<640px') {
                            font-size: 3.2vw;
                            top: 33vw;
                            right: 13%;
                        }
                        strong {
                            color: $red;
                        }
                        p {
                            @include media('>=tablet') {
                                line-height: 1.6;
                            }
                        }
                    }
                }
                width:100%;
                text-align: right;
                img {
                    display: inline-block;
                }
                .img3 {
                    margin-top: -2.08vw;
                    margin-right: -5.56vw;
                    @include media('>=tablet') {
                        width: 26.10vw;
                    }
                    @include media('>1920px') {
                        margin-top: -30px;
                        margin-right: -80px;
                        width: 370px;
                    }
                    @include media('<tablet') {
                        position: absolute;
                        top: -177px;
                        right: -124px;
                        margin: 0;
                    }
                    @include media('<640px') {
                        position: absolute;
                        margin: 0;
                        transform: translate(0);
                        bottom: -21px;
                        left: auto;
                        top: auto;
                        right: -122px;
                    }
                }
                .img2 {
                    margin-top: 0px;
                    margin-right: -2.57vw;
                    @include media('>=tablet') {
                        width: 20.85vw;
                    }
                    @include media('>1920px') {
                        margin-right: -37px;
                        width: 300.03px;
                    }
                    @include media('<tablet') {
                        margin-top: 0px;
                        margin-right: 0;
                        position: absolute;
                        right: -40px;
                        bottom: -106px;
                        z-index: 99;
                    }
                    @include media('<640px') {
                        position: absolute;
                        margin: 0;
                        top: auto;
                        bottom: 0;
                        right: auto;
                        left: -11px;
                    }
                    @include media('<phone') {
                        left: -20%;
                    }
                }
            }
            .positioned-images {
                position: absolute;
                pointer-events: none;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                .img1 {
                    position: absolute;
                    top: -6.32vw;
                    right: 7.16vw;
                    width: 13.55vw;
                    @include media('>1920px') {
                        top: -91px;
                        right: 103px;
                        width: 195px;
                    }
                    @include media('<tablet') {
                        width: auto;
                        top: -71px;
                        right: -8px;
                    }
                }
            }
            .decorated-red {
                padding: 2.5vw 1.8vw;
                font-size: 0.97vw;
                line-height: 1.45;
                background-color: transparent;
                color: $white;
                max-width: 30.37vw;
                font-weight: 300;
                position: relative;
                margin-bottom: 0.69vw;
                @include media('>1920px') {
                    padding: 36px 26px;
                    font-size: 14px;
                    max-width: 437px;
                    margin-bottom: 10px;
                }
                @include media('<tablet') {
                    max-width: 60%;
                    padding: 36px 26px;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                strong {
                    font-weight: bold;
                }
                background-size: 100% 100%;
                @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#e11c1b" points="0,0 100,0 100,100 0,100  " /> </svg>');

            }
        }
        &.decoration-section3 {
            position: relative;
            display: flex;
            @include media('<640px') {
                padding: 0 7px;
            }
            .col-l {
                padding: 0 0 0 5.07vw;
                width: 51%;
                position: relative;
                @include media('>1920px') {
                    padding: 0 0 0 73px;
                }
                @include media('<tablet') {
                    width: 82%;
                    padding: 15px 0 0 0;
                    margin: 0 0 0 auto;
                }
                @include media('<640px') {
                    width: 100%;
                }
                .label-box {
                    margin-right: 2.08vw;
                    margin-top: -1.18vw;
                    @include media('>1920px') {
                        margin-right: 30px;
                        margin-top: -17px;
                    }
                    @include media('<tablet') {
                        margin-right: 30px;
                        margin-top: -17px;
                    }
                    @include media('<640px') {
                        margin: 0 auto -37px;
                    }
                }
                .text-holder {
                    padding: 2.5vw 2.15vw;
                    line-height: 1.5;
                    @include media('>1920px') {
                        padding: 36px 31px;
                    }
                    @include media('<tablet') {
                        padding: 36px 31px;
                    }
                    p {
                        margin-bottom: 1.88vw;
                        @include media('>1920px') {
                            margin-bottom: 27px;
                        }
                        @include media('<tablet') {
                            margin-bottom: 27px;
                        }
                        &:last-of-type {
                            margin-bottom: 0.49vw;
                            @include media('>1920px') {
                                margin-bottom: 7px;
                            }
                            @include media('<tablet') {
                                margin-bottom: 7px;
                            }
                            ;
                        }
                    }
                    .marked {
                        color: $red;
                    }
                }
                .decorated-images {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    .img1 {
                        position: absolute;
                        left: -7.57vw;
                        top: -9.17vw;
                        z-index: 5;
                        @include media('>=tablet') {
                            width: 34.1vw;
                        }
                        @include media('>1920px') {
                            left: -109px;
                            top: -132px;
                            width: 490px;
                        }
                        @include media('<tablet') {
                            position: absolute;
                            left: -470px;
                            top: -123px;
                            z-index: 5;
                            transform: scaleX(-1);
                        }
                        @include media('<640px') {
                            left: -94%;
                            top: -1092px;
                        }
                    }
                    .img2 {
                        position: absolute;
                        top: 74%;
                        z-index: 5;
                        left: -3.82vw;
                        @include media('>=tablet') {
                            width: 11.57vw;
                        }
                        @include media('>1920px') {
                            left: -55px;
                            width: 166px;
                        }
                        @include media('<tablet') {
                            left: -135px;
                        }
                    }
                }
            }
            .col-r {
                padding: 0;
                position: relative;
                text-align: center;
                width: 49%;
                @include media('<tablet') {
                    width: 100% !important;
                }
                @include media('<640px') {
                    text-align: left;
                    margin-top: -15px;
                }
                .product-img {
                    transform: translateX(3.61vw);
                    @include media('>=tablet') {
                        width: 25.34vw;
                    }
                    @include media('>1920px') {
                        transform: translateX(52px);
                        width: 365px;
                    }
                    @include media('<tablet') {
                        display: none;
                    }
                    @include media('<640px') {
                        display: inline-block;
                        margin-left: -20px;
                    }
                }
                .decorated-images {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    @include media('<tablet') {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        transform: translateY(-66px)
                    }
                    @include media('<640px') {
                        display: block;
                    }
                    .info-hand {
                        position: absolute;
                        width: 47.39vw;
                        top: 48.5%;
                        left: auto;
                        right: -8vw;
                        @include media('>1920px') {
                            width: 682px;
                            right: -116px;
                        }
                        @include media('<tablet') {
                            left: calc(100% + 15px);
                            width: 550px;
                            left: calc(100% + 60px);
                            position: static;
                            float: right;
                            position: static;
                            margin: 0 0 0 auto;
                            transform: translate(15px);
                        }
                        @include media('<640px') {
                            position: static;
                            float: right;
                            width: 509px;
                            position: static;
                            margin: 20px 0 0 auto;
                            -webkit-transform: translate(15px);
                            -ms-transform: translate(15px);
                            transform: translate(94px);
                        }
                        @include media('<phone') {
                            transform: translate(174px);
                        }
                        img {
                            widows: 100%;
                            @include media('>=tablet') {
                                width: 47.25vw;
                            }
                            @include media('>1920px') {
                                width: 680px;
                            }
                        }
                        .text-holder {
                            position: absolute;
                            top: 6.67vw;
                            left: 2.85vw;
                            width: 26.61vw;
                            height: 2.08vw;
                            text-align: center;
                            @include media('>1920px') {
                                top: 96px;
                                left: 41px;
                                width: 383px;
                                height: 30px;
                            }
                            @include media('<tablet') {
                                top: 68px;
                                left: 32px;
                                width: 310px;
                                height: 30px;
                            }
                            @include media('<640px') {
                                background-color: transparent;
                                height: auto;
                                left: auto;
                                width: 60%;
                                right: 37%;
                                top: 50px;
                                font-size: 16px;
                            }
                            p {
                                @include media('>=tablet') {
                                    line-height: 1.6;
                                }
                            }
                            strong {
                                color: red;
                            }
                        }
                    }
                    .img2 {
                        position: absolute;
                        top: 7%;
                        left: 1.74vw;
                        @include media('>=tablet') {
                            width: 13.97vw;
                        }
                        @include media('>1920px') {
                            left: 25px;
                            width: 200px;
                        }
                        @include media('<tablet') {
                            display: none;
                        }
                    }
                }
            }
            .bottom-row {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 3.33vw 0 0 3.47vw;
                font-size: 0.97vw;
                line-height: 1.5;
                justify-content: flex-start;
                margin-bottom: -6.11vw;
                img {
                    @include media('>=tablet') {
                        width: 28.35vw;
                    }
                    @include media('>1920px') {
                        width: 408px;
                    }
                }
                @include media('>1920px') {
                    padding: 48px 0 0 50px;
                    font-size: 14px;
                    margin-bottom: -88px;
                }
                @include media('<tablet') {
                    margin: 0;
                    margin: -256px 0 -88px -100px;
                    padding: 0;
                    width: 140%;
                    font-size: 14px;
                }
                @include media('<640px') {
                    display: block;
                    margin: -98px 0 20px 0;
                    padding: 0 0 0 30px;
                    position: relative;
                }
                img {
                    @include media('<640px') {
                        width: 327px;
                        position: absolute;
                        left: -93px;
                        top: -126px;
                    }
                    @include media('<phone') {
                        left: -200px;
                    }
                }
                .decorated-red {
                    position: relative;
                    max-width: 42.67vw;
                    padding: 2.08vw 3.47vw 2.08vw 5.56vw;
                    transform: translate(-7.37vw, -2.64vw);
                    z-index: -1;
                    position: relative;
                    color: $white;
                    background-color: $red;
                    @include media('>1920px') {
                        max-width: 614px;
                        padding: 30px 50px 30px 80px;
                        transform: translate(-106px, -38px);
                    }
                    @include media('<tablet') {
                        max-width: 51%;
                        width: 999px;
                        transform: translate(-153px, 84px);
                        padding: 30px 50px 30px 102px;
                    }
                    @include media('<640px') {
                        padding-left: 130px;
                        transform: translate(0);
                        width: 100%;
                        max-width: 100%;
                        padding: 30px 5px 30px 164px;
                        ;
                    }
                    @include media('<phone') {
                        padding: 60px;
                    }
                    &:before {
                        content: '';
                        content: '';
                        position: absolute;
                        width: 12.92vw;
                        height: 3.61vw;
                        background-size: 100% 100%;
                        opacity: .79;
                        top: -2.57vw;
                        left: 19.11vw;
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%) scaleX(-1);
                        @include media('>1920px') {
                            width: 186px;
                            height: 52px;
                            top: -37px;
                            left: 275px;
                        }
                        @include media('<tablet') {
                            width: 186px;
                            height: 52px;
                            top: -37px;
                            left: 275px;
                        }
                        @include background-svg('
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');
 @include media('<640px') {
                            top: -37px;
                            left: 278px;
                        }
                    }
                }
            }
        }
    }
}