.gallery {
    // @include media('<desktop') {
    //     padding: 0 2.6%;
    // }
    @include media('<tablet') {
        padding: 0 2.6%;
    }
    @include media('<phone') {
        padding: 0 7px;
    }
    &-holder {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3.82vw;
        @include media('>1920px') {
            margin-bottom: 55px;
        }
        @include media('<tablet') {
            margin-bottom: 35px;
        }
    }
    &-item {
        height: 34.75vw;
        width: 32%;
        margin-bottom: 2%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: relative;
        // @include media('<desktop') {
        //     height: 410px;
        //     width: calc(50% - 10px);
        //     margin-bottom: 20px;
        // }
        @include media('>1920px') {
            height: 500px;
        }
        @include media('<tablet') {
            height: 330px;
            width: calc(50% - 10px);
            margin-bottom: 20px;
        }
        @include media('<640px') {
            height: 266px;
        }
        @include media('<phone') {
            width: 100%;
        }
        &:before {
            @include animate (opacity);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .3);
        }
        &.wide {
            width: 66%;
            // @include media('<desktop') {
            //     width: 100%;
            // }
            @include media('<tablet') {
                width: 100%;
            }
        }
        &:hover {
            &:before {
                opacity: 0;
            }
        }
    }
    .item-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 33.36vw;
        padding: 0 1.04vw;
        font-size: 2.36vw;
        color: $white;
        font-weight: 600;
        @include media('>1920px') {
            max-width: 480px;
            padding: 0 15px;
            font-size: 34px;
        }
        @include media('<tablet') {
            font-size: 29px;
            max-width: 480px;
            padding: 0 15px;
        }
        .cursive {
            display: inline-block;
            width: 100%;
            font-size: 2.08vw;
            font-weight: 400;
            @include media('>1920px') {
                font-size: 30px;
            }
            @include media('<tablet') {
                font-size: 30px;
            }
        }
    }
}