.inspiration-block {
    padding: 0 1.18vw;
    @include media('>1920px') {
        padding: 0 17px;
    }
    @include media('<desktop') {
        //  padding: 0;
    }
    @include media('<tablet') {
        padding: 0;
    }
    @include media('<phone') {
        padding-top: 70px;
    }
    .section-headline {
        max-width: 34.75vw;
        margin: 0 auto 3.47vw;
        padding-top: 0;
        @include media('>1920px') {
            max-width: 500px;
            margin: 0 auto 50px;
        }
        @include media('<desktop') {
            // margin-bottom: 30px;
        }
        @include media('<tablet') {
            margin: 0 auto 30px;
            max-width: 500px;
        }
        @include media('<640px') {
            margin-bottom: 16px;
        }
    }
    .inspiration {
        &-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5.56vw;
            @include media('>1920px') {
                margin-bottom: 80px;
            }
            @include media('<desktop') {
                // flex-wrap: wrap;
                // margin-bottom: 27px;
            }
            @include media('<tablet') {
                flex-wrap: wrap;
                margin-bottom: 27px;
            }
        }
        &-col {
            width: 15.5%;
            background: $white;
            box-shadow: 0 0.35vw 1.74vw 0 rgba($black, .2);
            padding: 1.04vw;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media('>1920px') {
                box-shadow: 0 5px 25px 0 rgba($black, .2);
                padding: 15px;
            }
            @include media('<desktop') {
                // width: 32%;
                // padding-top: 44px;
                // margin-bottom: 20px;
                // min-height: 327px;
            }
            @include media('<tablet') {
                width: 32%;
                padding-top: 44px;
                margin-bottom: 20px;
                min-height: 327px;
                box-shadow: 0 5px 25px 0 rgba($black, .2);
            }
            @include media('<640px') {
                font-size: 33px;
            }
            @include media('<640px') {
                width: 48%;
                min-height: 320px;
            }
            &:not(:first-child) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: space-between;
                text-align: center;
                .title {
                    font-size: 1.18vw;
                    font-weight: 600;
                    max-width: 100%;
                    @include media('>1920px') {
                        font-size: 17px;
                    }
                    @include media('<tablet') {
                        font-size: 17px;
                    }
                }
                .subtitle {
                    letter-spacing: -0.03vw;
                    font-size: 1.04vw;
                    @include media('>1920px') {
                        letter-spacing: -0.4px;
                        font-size: 15px;
                    }
                    @include media('<tablet') {
                        letter-spacing: -0.4px;
                        font-size: 15px;
                    }
                }
                img {
                    margin-bottom: 1.39vw;
                    width: auto;
                    width: 92%;
                    max-width: 100%;
                    @include media('>1920px') {
                        margin-bottom: 20px;
                    }
                    @include media('<tablet') {
                        margin-bottom: 20px;
                    }
                }
            }
            &.heading-col {
                padding: 0 !important;
                position: relative;
                img {
                    min-height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .text {
                    color: $white;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0.69vw;
                    text-align: center;
                    right: 0.69vw;
                    bottom: 0.69vw;
                    align-items: center;
                    justify-content: center;
                    @include media('>1920px') {
                        left: 10px;
                        right: 10px;
                        bottom: 10px;
                    }
                    @include media('<tablet') {
                        left: 10px;
                        right: 10px;
                        bottom: 10px;
                    }
                    .title {
                        font-size: 2.36vw;
                        display: block;
                        font-weight: 600;
                        @include media('>1920px') {
                            font-size: 34px;
                        }
                        @include media('<tablet') {
                            font-size: 34px;
                        }
                        @include media('<1300px') {
                            font-size: 24px;
                        }
                    }
                    .subtitle {
                        font-size: 2.08vw;
                        font-family: $font-felt;
                        @include media('>1920px') {
                            font-size: 30px;
                        }
                        @include media('<tablet') {
                            font-size: 30px;
                        }
                    }
                }
            }
            img {
                width: 100%;
            }
        }
    }
    .additional-indents {
        padding: 0 1.53vw;
        @include media('>1920px') {
            padding: 0 22px;
        }
        @include media('<tablet') {
            padding: 0 22px;
        }
    }
}

.gallery2 {
    @include media('<640px') {
        padding: 0 22px;
    }
    .gallery-item:last-child {
        @include media('<desktop') {
            // display: none;
        }
        @include media('<tablet') {
            display: none;
        }
    }
    .additional-indents {
        // @include media('<desktop') {
        //     padding:0 ;
        // }
        @include media('<tablet') {
            padding: 0;
        }
    }
    .container {
        //   @include media('<desktop') {
        //    padding: 0 15px;
        //   }
        @include media('<tablet') {
            padding: 0;
        }
    }
    .gallery-holder {
        @include media('<tablet') {
            
            .gallery-item {
                &:first-child{
                    background-position: 20% 50%;
                    background-position:-57px 0 ;
                    background-size: 214% !important ;
                }
                &:nth-child(2){
                    background-position: 20% 0;
                    background-size: cover;
                    background-position:0px 0 ;
                    background-size: 124% !important ;
                }
            }
        }
    }
    .gallery-item{
        @include media('<tablet') {
         width:calc(48% - 10px) !important ;  
         
        }
    }
}