.label-box {
    max-width: 300px;
    text-align: center;
    position: relative;
    &:after {
        position: absolute;
        bottom: 12px;
        left: 0;
        top: 12px;
        right: 0;
        content:'';
        background-color: red;;
        z-index: -5;
        box-shadow: 0px 5px 35px -10px rgba(0,0,0,0.75);
        border-radius: 36%;
    }
    .number-decorated {
        display: inline-block;
        position: relative;
        font-size: 36px;
        font-family: $font-felt;
        color: $red;
        margin-top: -40px;
        &:after,
        &:before {
            content: '';
            position: absolute;
            right: calc(100% + 4px);
            width: 20px;
            top: 50%;
            height: 1px;
            background-color: $gray;
        }
        &:before {
            left: calc(100% + 10px);
            right: auto;
        }
    }
    &-inner {
        padding: 21.7% 0px;
        position: relative;
        font-size: 12px;
        p {
            transform: translateY(20px)
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-image: url('../images/label.svg');
            height: 65px;
            z-index: -1;
            background-size: 100% auto;
            overflow: hidden;
            background-position: 50% 0;
        }
        &:after {
            top: auto;
            bottom: 0;
            background-position: 50% 100%;
        }
        .subtitle {
            font-size: 24px;
            font-weight: 600;
        }
        .title {
            font-size: 60px;
            color: $red;
            margin-bottom: 0;
            font-family: $font-felt;
            font-weight: 400;
            line-height: 0.4;
        }
        .label-box-content {
            position: relative;
            background-color: $white;
            padding: 0 15px;
            &:before {
                content: '';
                position: absolute;
                left: 2.49%;
                width: 1%;
                background-color: #e64046;
                ;
                bottom: 0;
                top: 0;
            }
            &:after {
                content: '';
                position: absolute;
                background-color: #e64046;
                width: 1%;
                right: 2.50%;
                bottom: 0;
                top: 0;
                pointer-events: none;
            }
            * {
                margin-bottom: 0;
            }
        }
    }
}