.label-box {
    max-width: 300px;
    text-align: center;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 65px;
        bottom: 65px;
        left: 0;
        right: 0;
        background-color: $white;
    }
    &:after {
        position: absolute;
        bottom: 12px;
        left: 0;
        top: 12px;
        right: 0;
        content: '';
        z-index: -5;
        box-shadow: 0px 5px 35px -10px rgba(0, 0, 0, 0.75);
        border-radius: 36%;
    }
    .number-decorated {
        display: inline-block;
        position: relative;
        font-size: 36px;
        font-family: $font-felt;
        color: $red;
        line-height: 1;
        margin-bottom: -4px;
        &:after,
        &:before {
            content: '';
            position: absolute;
            right: calc(100% + 4px);
            width: 20px;
            top: 50%;
            height: 1px;
            background-color: $gray;
        }
        &:before {
            left: calc(100% + 10px);
            right: auto;
        }
    }
    &-inner {
      
        position: relative;
        font-size: 12px;
        p {
        
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-image: url('../images/label.svg');
            height: 65px;
            z-index: 1;
            background-size: 100% auto;
            overflow: hidden;
            background-position: 50% 0;
        }
        &:after {
            top: auto;
            bottom: 0;
            background-position: 50% 100%;
        }
        .subtitle {
            font-size: 24px;
            font-weight: 600;
            margin: 0;line-height: 1;
        }
        .title {
            font-size: 60px;
            color: $red;
            margin-bottom: 0;
            font-family: $font-felt;
            font-weight: 400;
            line-height: .6;
            margin-bottom: 7px;
        }
        .label-box-content {
            position: relative;
            padding: 0 15px;
            z-index: 2;
            padding: 15px 20px 39px;
p{
    margin-bottom: 0;
}
            &:before {
                content: '';
                position: absolute;
                left: 2.5%;
                width: 1%;
                background-color: #e64046;
                ;
                bottom: 65px;
                top: 65px;
            }
            &:after {
                content: '';
                position: absolute;
                background-color: #e64046;
                width: 1%;
                right: 2.51%;
                bottom: 65px;
                top: 65px;
                pointer-events: none;
            }
    
        }
    }
}