.prefooter {
    padding: 0 4.5%;
    @include media('<desktop') {
        padding: 0 4.5%;
    }
    @include media('<tablet') {
        padding: 0 2.6%;
    }
    @include media('<640px') {
        padding: 0 7px;
    }
}

.prefooter-banner {
    position: relative; 
    // padding-bottom: 37.5%;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 9% 6% 9% 0;
    @include media('<desktop') {
        // padding-bottom: 45%;
        min-height: 330px;
        padding: 7% 0 7% 0;
    }
    @include media('<tablet') {
        //desk
        min-height: 330px;
        padding: 7% 0 7% 0;
        //desk
        padding: 40px 0 0 0;
        height: 515px;
    }
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    &__caption {
        position: relative; // position: absolute;
        // top: 50%;
        // right: 13%;
        // transform: translateY(-50%);
        width: 100%;
        max-width: 50%;
        color: $white;
        text-align: center;
        margin-top: 15px;
        padding: 0 10px;
        @include media('<desktop') {
            // margin-top: 0;
            // max-width: 40%;
        }
        @include media('<tablet') {
            //desk
            margin-top: 0;
            max-width: 40%;
            //desk
            position: static;
            max-width: 334px;
            margin: 0 auto;
            transform: translate(0);
        }
        .btn {
            @include media('<tablet') {
                display: none;
            }
        }
    }
    &__title {
        font-size: 44px;
        font-weight: 400;
        margin-bottom: 5px;
        // @include media('<widescreen') {
        //     font-size: 37px;
        // }
        // @include media('<desktop') {
        //     font-size: 30px;
        // }
        @include media('<tablet') {
           // desk
           font-size: 30px;
           //desk
        }
    }
    &__sub-title {
        font-size: 20px;
        font-weight: 600;
        max-width: 360px;
        margin: 0 auto 35px;
        // @include media('<widescreen') {
        //     font-size: 18px;
        //     margin: 0 auto 20px;
        // }
        // @include media('<desktop') {
            
        //     font-size: 16px;
        // }
        @include media('<tablet') {
            //desk
            font-size: 16px;
            margin: 0 auto 20px;
            //desk
        }
    }
}

.prefooter-banner__image {
    background-image: url(../images/pre-footer-banner.jpg);
    @include media('<desktop') {
  //      background-image: url(../images/pre-footer-banner_768.jpg);
    }
    @include media('<tablet') {
        background-image: url(../images/pre-footer-banner_480.jpg);
    }
}