.prefooter {
    padding: 0 4.5%;
    @include media('<desktop') {
        padding: 0 4.5%;
    }
    @include media('<tablet') {
        padding: 0 2.6%;
    }
    @include media('<640px') {
        padding: 0 7px;
    }
}

.prefooter-banner {
    position: relative; 
    margin-bottom: 3.47vw;
    display: flex;
    justify-content: flex-end;
    padding: 9% 6% 9% 0;
    @include media('>1920px') {
        margin-bottom: 50px;
    }
    @include media('<tablet') {
        padding: 27px 0 0 0;
        height: 515px;
    }
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    &__caption {
        position: relative;
        width: 100%;
        max-width: 50%;
        color: $white;
        text-align: center;
        margin-top: 1.04vw;
        padding: 0 0.69vw;
        @include media('>1920px') {
            margin-top: 15px;
            padding: 0 10px;
        }
        @include media('<tablet') {
            margin-top: 0;
            max-width: 40%;
            padding: 0 10px;
            position: static;
            max-width: 334px;
            margin: 0 auto;
            transform: translate(0);
        }
        .btn {
            @include media('<tablet') {
                display: none;
            }
        }
    }
    &__title {
        font-size: 3.06vw;
        font-weight: 400;
        margin-bottom: 0.35vw;
        @include media('>1920px') {
            font-size: 44px;
            margin-bottom: 5px;
        }
        @include media('<tablet') {
           font-size: 30px;
        }
    }
    &__sub-title {
        font-size: 1.39vw;
        font-weight: 600;
        max-width: 25vw;
        margin: 0 auto 2.43vw;
        @include media('>1920px') {
            font-size: 20px;
            max-width: 360px;
            margin: 0 auto 35px;
        }
        @include media('<tablet') {
            max-width: 360px;
            font-size: 16px;
            margin: 0 auto 20px;
        }
    }
}

.prefooter-banner__image {
    background-image: url(../images/pre-footer-banner.jpg);
    @include media('<tablet') {
        background-image: url(../images/pre-footer-banner_480.jpg);
    }
}