.product-info {
    display: flex;
    flex-wrap: wrap;
    padding: 8.5% 4.5% 8%;
    // @include media('<desktop') {
    //     padding: 4.5% 4.5% 525px;
    // }
    @include media('<tablet') {
        padding: 4.5% 4.5% 525px;
    }
    @include media('<phone') {
        padding: 4.5% 4.5% 70px;
    }
    .split-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .left-side,
        .right-side {
            width: 49%;
            position: relative;
            // @include media('<desktop') {
            //     width: 100%;
            // }
            @include media('<tablet') {
                width: 100%;
            }
        }
        .left-side {
            padding-left: 1.5%;
        }
    }
}