.products-thumbs {
	padding: 0 4.5%;
	// @include media('<desktop') {
 //        padding: 0 2.6%;
 //    }
 	@include media('<tablet') {
        padding: 0 2.6%;
    }
    @include media('<phone') {
        padding: 0 7px;
    }
	&__holder {
		padding-bottom: 82px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		// @include media('<desktop') {
		// 	padding-bottom: 55px;
		// }
		@include media('<tablet') {
			padding-bottom: 55px;
		}
	}
	&__title {
		font-size: 30px;
		margin-bottom: 100px;
		// @include media('<desktop') {
		// 	margin-bottom: 110px;
		// }
		@include media('<tablet') {
			margin-bottom: 110px;
		}
	}
	.product-thumb {
		width: 24%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 6% 2.75% 5%;
		background-color: $white;
		box-shadow: 0px 20px 40px 12px rgba(0, 0, 0, 0.1);
		position: relative;
		@include animate(transform);
		transform: scale(1);
		&:hover{
			transform: scale(1.03);
		}
		@include media('<tablet') {
	        width: 32%;
	        &:last-child {
	        	display: none;
	        }
	    }
	    @include media('<650px') {
	    	padding: 10% 2.75% 5%;
			width: 48%;
			&:last-child {
	        	display: none;
	        }
			&:nth-child(3) {
	        	display: none;
	        }
	    }
		.top-title {
			font-size: 16px;
			position: absolute;
			font-weight: 600;
			top: -40px;
			left: 50%;
		    width: 100%;
		    transform: translateX(-50%);
			text-align: center;
		}
		&__inner {
			width: 100%;
			padding: 24.5% 11.5% 15%;
			background-color: $white;
			box-shadow: 0px 20px 40px 12px rgba(0, 0, 0, 0.1);
		}
		&__image {
			margin: 0 auto 45px;
			img {
				width: 100%;
				height: auto;
			}
			@include media('<tablet') {
				margin: 0 auto 30px;
			}
		}
		&__text {
			font-size: 15px;
			padding: 0 8%;
			.title {
				font-weight: 600;
				font-size: 17px;
			}
			.description {
				margin: 0;
			}
		}
	}
}