.text-thumbs {
    padding: 25px 4.5% 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    @include media('<desktop') {
       justify-content: space-between;
    }
    .merged-thumbs {
        width: 48%;
        @include media('<desktop') {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    .single-thumb {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px 25px 20px;
        width: 24%;
        margin-left: 2%;
        background-color: $red;
        color: $white;
        position: relative;
        @include media('<desktop') {
            width: 49%;
            margin-left: 0;
        }
        .thumb-inner {
            position: relative;
            &:before, &:after {
                content: '';
                position: absolute;
                display: block;
                height: 4px;
                width: 60%;
                bottom: -22px;
                left: 33%;
                background: linear-gradient(to right, rgba(118,118,118,0) 0%,rgba(118,118,118,1) 25%,rgba(118,118,118,1) 75%,rgba(118,118,118,0) 100%);
                transform: translateX(-50%) rotate(-0.4deg);
                z-index: -1;
            }
            &:after {
                content: '';
                position: absolute;
                width: 60%;
                left: auto;
                right: 33%;
                transform: translateX(50%) rotate(0.4deg);
                z-index: -1;
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: 86px;
            height: 26px;
            background-size: 100% 100%;
            opacity: .19;
            top: -13px;
            left: 50%;
            transform-origin: left;
            transform: rotate(3deg) translateX(-50%);
            background: $black; // box-shadow: 0px 0px 0px 2px $black;
            //        @include background-svg('
            // <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml: space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');
        }
        &.pseudo-rotate-left {
            &:before {
                transform: rotate(-3deg) translateX(-50%);
            }
        }
    }
}

.merged-thumbs {
    display: flex;
    justify-content: space-between;
    color: $white;
    position: relative;
    z-index: 1;
    &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        height: 4px;
        width: 60%;
        bottom: -2px;
        left: 33%;
        background: linear-gradient(to right, rgba(118,118,118,0) 0%,rgba(118,118,118,1) 25%,rgba(118,118,118,1) 75%,rgba(118,118,118,0) 100%);
        transform: translateX(-50%) rotate(-0.35deg);
        z-index: -1;
    }
    &:after {
        content: '';
        position: absolute;
        width: 60%;
        left: auto;
        right: 33%;
        transform: translateX(50%) rotate(0.35deg);
        z-index: -1;
    }
    .thumb {
        display: flex;
        flex-wrap: wrap;
        width: 33.33%;
        justify-content: center;
        padding: 25px 25px 20px;
        position: relative;
        background-color: $red;
        &:nth-child(2) {
            &:before {
                content: '';
                position: absolute;
                width: 80px;
                height: 26px;
                background-size: 100% 100%;
                opacity: .19;
                top: -13px;
                left: 50%;
                transform-origin: left;
                transform: rotate(5deg) translateX(-50%);
                background: $black; // box-shadow: 0px 0px 0px 2px $black;
                //        @include background-svg('
                // <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml: space="preserve" preserveAspectRatio="none"> <polygon fill="#c5b59d" points="1.4,11 98.6,0 100,91 1.4,100  " /> </svg>');
            }
        }
        &__title-holder {
            width: 120px;
            height: 90px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            background-image: url(../images/name-holder.svg);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            margin-bottom: 12px;
            .title {
                font-size: 34px;
                font-weight: 400;
                line-height: .7;
            }
            .subtitle {
                font-size: 12px;
                display: inline-block;
                color: $black;
            }
            .number-decorated {
                display: inline-block;
                font-size: 20px;
                position: relative;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    right: calc(100% + 4px);
                    width: 10px;
                    top: 50%;
                    height: 1px;
                    background-color: #4c4c4c;
                }
                &:before {
                    left: calc(100% + 10px);
                    right: auto;
                }
            }
        }
        &__text {
            margin-bottom: 30px;
        }
    }
}