.text-with-images {
    padding: 6.5% 4.5% 0;
    @include media('<tablet') {
        padding: 9% 2.6% 3.5%;
    }
    @include media('<phone') {
        padding: 9% 7px;
    }
    .btn-holder {
        position: relative;
        z-index: 1;
    }
}

.text-images-holder {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .title-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include media('<tablet') {
            position: static;
        }
        .title-row {
        	font-weight: 600;
            font-size: 2vw;
            @include media('>1920px') {
                font-size: 30px;
            }
            @include media('<tablet') {
            	font-size: 30px;
            }
            &.cursive {
                line-height: .7;
                font-size: 5vw;
                @include media('>1920px') {
                    font-size: 72px;
                }
                @include media('<tablet') {
                	font-weight: 500;
					font-size: 52px;
                }
            }
        }
    }
    .images-side {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        position: relative;
        transform: translateY(-2.08vw);
        margin-bottom: -4.17vw;
        @include media('>1920px') {
            transform: translateY(-30px);
            margin-bottom: -60px;
        }
        @include media('<tablet') {
            width: 50%;
            transform: translateY(0);
            margin: 0 auto -60px;
        }
        @include media('<650px') {
        	width: 70%;
            transform: translateY(0);
            margin: 0 auto -60px;
        }
        .image-box {
            max-width: 70%;
            position: relative;
            @include media('<650px') {
            	max-width: 100%;
            }
            &.rotate-left {
                transform: rotate(-8deg) translateX(-2.08vw);
                @include media('>1920px') {
                    transform: rotate(-8deg) translateX(-30px);
                }
                @include media('<tablet') {
                    transform: rotate(-8deg) translateX(0px);
                }
                @include media('<650px') {
                    transform: rotate(-8deg) translateX(-30px);
                }
            }
            &.rotate-right {
                transform: rotate(4deg) translateY(-4.17vw);
                left: 26%;
                @include media('>1920px') {
                    transform: rotate(4deg) translateY(-60px);
                }
                @include media('<tablet') {
                    transform: rotate(4deg) translateY(-30px);
                }
                @include media('<650px') {
                    transform: rotate(4deg) translateY(-60px);
                }
            }
        }
        .image-frame {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            padding: 1.04vw;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
            overflow: hidden;
            position: relative;
            @include media('>1920px') {
                padding: 15px;
            }
            @include media('<tablet') {
                padding: 15px;
            }
        }
        .image-holder {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    .text-side {
        width: 50%;
        padding: 9.5% 0 0 0.69vw;
        letter-spacing: -0.1px;
        @include media('>1920px') {
            padding: 9.5% 0 0 10px;
        }
        @include media('<tablet') {
            padding: 0;
        }
        @include media('<650px') {
            width: 100%;
            padding: 0;
        }
        .text {
            font-size: 1.11vw;
            @include media('>1920px') {
                font-size: 16px;
            }
            @include media('<tablet') {
                font-size: 16px;
            }
            p {
                margin-bottom: 1.74vw;
                line-height: 2;
                @include media('>1920px') {
                    margin-bottom: 25px;
                }
                @include media('<tablet') {
                	line-height: 1.9;
                    margin-bottom: 30px;
                }
            }
        }
    }
}