.thumb-grid {
    padding: 0 4.5%;
    margin-bottom: 1.88vw;
    img {
        max-width: 100%;
    }
    @include media('>1920px') { 
        margin-bottom: 27px
     }
    @include media('<tablet') {
        padding: 0 2.6%;
        margin-bottom: 0;
    }
    @include media('<640px') {
        padding: 0 7px;
    }
    @include media('<phone') {
        margin-top: 30px;
    }
    .thumb-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .thumb-col {
        background-color: $white;
        margin-bottom: 1.39vw;
        box-shadow: 0px 0.35vw 1.04vw 0px rgba(0, 0, 0, 0.25);
        @include media('>1920px') { 
            margin-bottom: 20px;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
         }
        @include media('<tablet') {
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 35px;
        }
        .wow {
            @include media('<tablet') {
                width: 100%;
            }
        }
        &[class^="col-"] {
            @include media('<tablet') {
                display: flex !important;
            }
        }
        &.without-hover {
            &:hover {
                transform: scale(1) !important;
            }
        }
        width: 100%;
        @include animate(transform);
        transform: scale(1);
        @include media('<tablet') {
            //transition: none !important;
        }
        &.animated {
            transform: scale(1.03);
        }
        &:hover {
            @include media('>=tablet') {
                transform: scale(1.03)
            }
        }
        a {
            text-decoration: none;
        }
        .img-holder {
            position: relative;
            .youtube-link {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 5.28vw;
                width: 2.08vw;
                height: 2.08vw;
                background-color: $white;
                color: $red;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                @include media('>1920px') { 
                    font-size: 76px;
                    width: 30px;
                    height: 30px;
                 }
                @include media('<tablet') {
                    font-size: 76px;
                    width: 30px;
                    height: 30px;
                }
                @include animate(opacity);
                &:hover {
                    opacity: .8;
                }
            }
            img {
                display: inline-block;
                width: 100%;
                vertical-align: top;
            }
        }
        &.col-33 {
            width: 32.4%;
            @include media('<tablet') {
                width: 49%;
            }
            @include media('<640px') {
                width: 100%;
            }
        }
        &.col-66 {
            width: 66.3%;
            @include media('<tablet') {
                width: 49%;
            }
            @include media('<640px') {
                width: 100%;
            }
        }
        &.col-33,
        &.col-66 {
            .descr-holder {
                padding: 1.53vw 2.08vw 2.08vw;
                @include media('>1920px') { 
                    padding: 22px 30px 30px;
                 }
                @include media('<tablet') {
                    padding: 26px 34px 9px 30px;
                }
                @include media('<tablet') {
                    padding: 24px 34px 26px 30px;
                }
                .thumb-title {
                    font-size: 1.53vw;
                    @include media('>1920px') { 
                        font-size: 22px;
                     }
                    @include media('<tablet') {
                        font-size: 22px;
                    }
                }
                p {
                    line-height: 1.4;
                }
            }
        }
        &.tablet-100 {
            @include media('<tablet') {
                width: 100%;
            }
        }
        .h3 {
            font-family: $font-felt;
            background-color: $red;
            padding: 0px 1.46vw;
            color: $white;
            width: 100%;
            margin: 0;
            font-weight: 400;
            font-size: 2.78vw;
            // @include media('<desktop') {
            //     font-size: 30px;
            // }
            @include media('>1920px') { 
                padding: 0px 21px;
                font-size: 40px;
             }
            @include media('<tablet') {
                padding: 0 15px 0 35px;
                font-size: 40px;
            }
        }
        .descr-holder {
            padding: 2.51vw 4.72vw 1.46vw;
            color: $gray;
            font-size: 1.11vw;
            // @include media('<desktop') {
            //     font-size: 14px;
            // }
            @include media('>1920px') { 
                padding: 36px 68px 21px;
                font-size: 16px;
             }
            @include media('<tablet') {
                padding: 27px 29px 13px;
                font-size: 16px;
            }
            .thumb-title {
                font-size: 1.67vw;
                display: block;
                margin-bottom: 0.69vw;
                color: $dark;
                font-weight: 600;
                // @include media('<desktop') {
                //     font-size: 18px;
                // }
                @include media('>1920px') { 
                    font-size: 24px;
                    margin-bottom: 10px;
                 }
                @include media('<tablet') {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.section-headline {
    text-align: center;
    margin-bottom: 2.08vw;
    padding-top: 0.69vw;
    @include media('>1920px') { 
        margin-bottom: 30px;
        padding-top: 10px;
     }
    @include media('<tablet') {
        margin-bottom: 30px;
        padding-top: 20px;
    }
    .h1 {
        margin-bottom: 0;
        color: $red;
        font-family: $font-felt;
        font-weight: 400;
        line-height: 1;
        font-size: 4.86vw;
        @include media('>1920px') { 
            font-size: 70px;
         }
        @include media('<tablet') {
            font-size: 70px;
        }
    }
    .h4 {
        line-height: 1;
        font-weight: 600;
        font-size: 2.08vw;
        @include media('>1920px') { 
            font-size: 30px;
         }
        @include media('<tablet') {
            font-size: 30px;
        }
    }
}