.video-section {
    padding: 0 4.5% 11%;
    // @include media('<desktop') {
    //     padding: 0 4.5% 8%;
    // }
    @include media('<tablet') {
        padding: 0 4.5% 8%;
    }
    .h1 {
        font-weight: 400;
        line-height: 1;
        margin-bottom: 0;
    }
    &__head {
        margin-bottom: 40px;
    }
    &__inner {
        padding: 30px 0 245px;
        position: relative;
        // @include media('<1440px') {
        //     padding: 30px 0 19.5%;
        // }
        // @include media('<desktop') {
        //     padding: 30px 0 300px;
        // }
        @include media('<tablet') {
            padding: 30px 0 300px;
        }
    }
    &__bg-image {
        position: absolute;
    }
    .vide-holder {
        position: relative;
        z-index: 1;
        // @include media('<1440px') {
        //     width: 80%;
        //     margin: 0 auto;
        // }
        // @include media('<desktop') {
        //     width: 100%;
        // }
        @include media('<tablet') {
            width: 100%;
        }
        .youtube-link {
            @include animate (opacity);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 76px;
            width: 30px;
            height: 30px;
            background-color: #fff;
            color: #ed1c24;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0;
            text-decoration: none;
        }
        img {
            box-shadow: 8px 40px 60px -5px rgba(0,0,0,0.25);
            width: 1005;
            height: auto;
        }
    }
    .bottom-card {
        max-width: 1060px;
        margin: 0 auto;
        background-color: $red;
        padding: 40px 50px;
        position: relative;
        text-align: left;
        z-index: 1;
        // @include media('<1440px') {
        //     width: 84%;
        // }
        // @include media('<desktop') {
        //     width: 100%;
        // }
        @include media('<tablet') {
            width: 100%;
            padding: 40px 30px 30px;
        }
        &__text {
            max-width: 70%;
            color: $white;
            font-size: 19px;
            // @include media('<1440px') {
            //     font-size: 1.3vw;
            // }
            // @include media('<desktop') {
            //     font-size: 19px;
            //     max-width: none;
            // }
            @include media('<tablet') {
                font-size: 19px;
                max-width: none;
            }
            .title {
                font-weight: 600;
                font-size: 38px;
                // @include media('<1440px') {
                //     font-size: 2.5vw;
                // }
                // @include media('<desktop') {
                //     font-size: 38px;
                // }
                @include media('<tablet') {
                    font-size: 38px;
                }
            }
            .big {
                font-size: 70px;
                // @include media('<1440px') {
                //     font-size: 5vw;
                // }
                // @include media('<desktop') {
                //     font-size: 70px;
                // }
                @include media('<tablet') {
                    font-size: 70px;
                }
            }
            .unmarked-list {
                @extend %listreset;
                text-align: left;
                li {
                    line-height: 1.6;
                }
            }
        }
        &__decor {
            position: absolute;
            right: -152px;
            top: 70px;
            @include media('<1440px') {
               width: 47%;
               top: 40px;
               right: -14.33%;
            }
            // @include media('<desktop') {
            //    display: none;
            // }
            @include media('<tablet') {
               display: none;
            }
        }
    }
    .image-pos-1 {
        top: 0;
        left: -60px;
        img {
            &:last-child{
                display: none;
            }
        }
        // @include media('<1440px') {
        //     width: 22%;
        // }
        // @include media('<desktop') {
        //     width: auto;
        //     top: -30px;
        //     left: -75px;
        //     img {
        //         &:last-child{
        //             display: block;
        //         }
        //         &:first-child {
        //             display: none;
        //         }
        //     }
        // }
        @include media('<tablet') {
            width: auto;
            top: -30px;
            left: -75px;
            img {
                &:last-child{
                    display: block;
                }
                &:first-child {
                    display: none;
                }
            }
        }
    }
    .image-pos-2 {
        top: 0;
        right: -40px;
        z-index: -1;
        img {
            &:last-child{
                display: none;
            }
        }
        // @include media('<1440px') {
        //     width: 26%;
        // }
        // @include media('<desktop') {
        //     width: auto;
        //     top: -45px;
        //     right: -67px;
        //     transform: rotate(12deg);
        //     img {
        //         &:last-child{
        //             display: block;
        //         }
        //         &:first-child {
        //             display: none;
        //         }
        //     }
        // }
        @include media('<tablet') {
            width: auto;
            top: -45px;
            right: -67px;
            transform: rotate(12deg);
            img {
                &:last-child{
                    display: block;
                }
                &:first-child {
                    display: none;
                }
            }
        }
    }
    .image-pos-3 {
        top: 60%;
        transform: translateY(-50%);
        left: -95px;
        // @include media('<1440px') {
        //     width: 28%;
        // }
        // @include media('<desktop') {
        //     width: auto;
        //     top: 43%;
        //     left: -180px;
        // }
        @include media('<tablet') {
            width: auto;
            top: 43%;
            left: -180px;
        }
    }
    .image-pos-4 {
        bottom: -160px;
        left: -50;
        // @include media('<1440px') {
        //     width: 16%;
        //     left: -3%;
        // }
        // @include media('<desktop') {
        //     width: auto;
        //     bottom: -120px;
        // }
        @include media('<tablet') {
            width: auto;
            bottom: -120px;
        }
        @include media('<phone') {
            width: 45%;
        }
    }
    .image-pos-5 {
        left: 18%;
        bottom: 25px;
        // @include media('<1440px') {
        //     width: 18%;
        // }
        // @include media('<desktop') {
        //     width: auto;
        //     left: -13%;
        //     bottom: 45px;
        // }
        @include media('<tablet') {
            left: 44px;
            width: auto;
            bottom: 45px;
        }
        @include media('<phone') {
            width: 45%;
        }
    }
    .image-pos-6 {
        left: 36%;
        bottom: 0;
        // @include media('<1440px') {
        //     width: 13%;
        // }
        // @include media('<desktop') {
        //     width: auto;
        //     left: 25%;
        //     bottom: 42px;
        // }
        @include media('<tablet') {
            width: auto;
            left: 260px;
            bottom: 42px;
        }
        @include media('<phone') {
            width: 34%;
            left: 65%;
        }
    }
    .image-pos-7 {
        right: -55px;
        bottom: -85px;
        // @include media('<1440px') {
        //     width: 55%;
        // }
        // @include media('<desktop') {
        //     width: 85%;
        //     right: -315px;
        //     bottom: 60px;
        // }
        @include media('<tablet') {
            width: 90%;
            right: -280px;
            bottom: -80px;
        }
    }
}
