.video-section {
    padding: 0 4.5% 11%;
    @include media('<tablet') {
        padding: 0 4.5% 8%;
    }
    .h1 {
        font-weight: 400;
        line-height: 1;
        margin-bottom: 0;
    }
    &__head {
        margin-bottom: 2.78vw;
        @include media('>1920px') {
            margin-bottom: 40px;
        }
        @include media('<tablet') {
            margin-bottom: 40px;
        }
        .h4 {
            font-weight: 600;
        }
    }
    &__inner {
        padding: 2.08vw 0 17.03vw;
        position: relative;
        @include media('>1920px') {
            padding: 30px 0 245px;
        }
        @include media('<tablet') {
            padding: 30px 0 300px;
        }
        @include media('<phone') {
            padding: 30px 0 65%;
        }
    }
    &__bg-image {
        position: absolute;
    }
    .vide-holder {
        width: 61.85vw;
        position: relative;
        margin: 0 auto;
        z-index: 1;
        @include media('>1920px') {
            width: 890px;
        }
        @include media('<tablet') {
            width: 100%;
        }
        .youtube-link {
            @include animate (opacity);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 5.28vw;
            width: 2.08vw;
            height: 2.08vw;
            background-color: #fff;
            color: #ed1c24;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0;
            text-decoration: none;
            @include media('>1920px') {
                font-size: 76px;
                width: 30px;
                height: 30px;
            }
            @include media('<tablet') {
                font-size: 76px;
                width: 30px;
                height: 30px;
            }
        }
        img {
            box-shadow: 0.55vw 2.78vw 4.17vw -0.35vw rgba(0, 0, 0, 0.25);
            width: 100%;
            height: auto;
            @include media('>1920px') {
                box-shadow: 8px 40px 60px -5px rgba(0, 0, 0, 0.25);
            }
            @include media('<tablet') {
                box-shadow: 8px 40px 60px -5px rgba(0, 0, 0, 0.25);
            }
        }
    }
    .bottom-card {
        max-width: 73.61vw;
        margin: 0 auto;
        background-color: $red;
        padding: 2.78vw 3.47vw;
        position: relative;
        text-align: left;
        z-index: 1;
        @include media('>1920px') {
            max-width: 1060px;
            padding: 40px 50px;
        }
        @include media('<tablet') {
            width: 100%;
            max-width: 100%;
            padding: 40px 148px 30px 15px;
        }
        @include media('<640px') {
            width: 100%;
            max-width: 100%;
            padding: 40px 108px 30px 15px;
        }
        &__text {
            max-width: 70%;
            color: $white;
            font-size: 1.32vw;
            @include media('>1920px') {
                font-size: 19px;
            }
            @include media('<tablet') {
                font-size: 19px;
                max-width: none;
            }
            .title {
                font-weight: 600;
                font-size: 2.64vw;
                @include media('>1920px') {
                    font-size: 38px;
                }
                @include media('<tablet') {
                    font-size: 38px;
                }
                @include media('<phone') {
                    font-size: 30px;
                }
            }
            .big {
                font-size: 4.86vw;
                @include media('>1920px') {
                    font-size: 70px;
                }
                @include media('<tablet') {
                    font-size: 70px;
                }
                @include media('<phone') {
                    font-size: 50px;
                }
            }
            .unmarked-list {
                @extend %listreset;
                text-align: left;
                li {
                    line-height: 1.6;
                    &:not(:last-child) {
                    @include media('<640px') {
                        width: calc(100% + 100px);
                    }
                }
            }
        }
    }
    &__decor {
        position: absolute;
        width: 34.61vw;
        top: 2.78vw;
        right: -14.33%;
        @include media('>1440px') {}
        @include media('>1920px') {
            top: 40px;
            width: 498px;
        }
        @include media('<tablet') {
            top: auto;
            bottom:-111px;
        }
        @include media('<640px') {
            bottom:-109px;
        }
        @include media('<phone') {
            bottom:0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.image-pos-1 {
    top: 0;
    left: -1.39vw;
    width: 19.04vw;
    @include media('>1920px') {
        left: -20px;
        width: 274px;
    }
    @include media('<tablet') {
        width: 30%;
        top: -18px;
        left: -27px;
        @include media('>1920px') {}
        @include media('<tablet') {}
        img {
            &:last-child {
                display: block;
            }
            &:first-child {
                display: none;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
        &:last-child {
            display: none;
        }
    }
}

.image-pos-2 {
    top: 0;
    right: -2.78vw;
    z-index: -1;
    width: 22.65vw;
    @include media('>1920px') {
        right: -40px;
        width: 326px;
    }
    @include media('<tablet') {
        width: 35%;
        top: -2%;
        right: -11%;
        transform: rotate(12deg);
        img {
            &:last-child {
                display: block;
            }
            &:first-child {
                display: none;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
        &:last-child {
            display: none;
        }
    }
}

.image-pos-3 {
    width: 24.32vw;
    top: 60%;
    transform: translateY(-50%);
    left: -4.5vw;
    @include media('>1920px') {
        left: -65px;
        width: 350px;
    }
    @include media('<tablet') {
        width: 50%;
        top: 45%;
        left: -23%;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.image-pos-4 {
    width: 14.10vw;
    bottom: -11.11vw;
    left: -3.5vw;
    @include media('>1920px') {
        width: 203px;
        left: -50px;
        bottom: -160px;
    }
    @include media('<tablet') {
        width: auto;
        bottom: -17%;
        left: 5%;
    }
    @include media('<phone') {
        width: 45%;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.image-pos-5 {
    width: 15.43vw;
    left: 19%;
    bottom: 1.74vw;
    @include media('>1920px') {
        width: 222px;
        bottom: 25px;
    }
    @include media('<tablet') {
        left: 5%;
        width: auto;
        bottom: 3%;
    }
    @include media('<phone') {
        width: 45%;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.image-pos-6 {
    width: 10.7vw;
    left: 39%;
    bottom: 0;
    @include media('>1920px') {
        width: 154px;
    }
    @include media('<tablet') {
        width: auto;
        left: 260px;
        bottom: 42px;
    }
    @include media('<phone') {
        width: 34%;
        left: 65%;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.image-pos-7 {
    width: 46.63vw;
    right: -3.42vw;
    bottom: -5.9vw;
    @include media('>1920px') {
        width: 671px;
        right: -49px;
        bottom: -85px;
    }
    @include media('<tablet') {
        width: 90%;
        right: -280px;
        bottom: -80px;
    }
    img {
        width: 100%;
        height: auto;
    }
}


}