extends ../partials/layouts/main-layout.pug

block main
	.banner.text-inside
		.banner-image
			img(src="assets/images/manifest-banner.jpg", alt="")
		.banner-caption.text-center
			h1.title.cursive.marked-red Les engagements
			h2.subtitle de Marie…
			strong Chez Marie, la qualité, c’est sacré.
			p La qualité, c’est elle qui tisse la confiance entre vous et nous. 
			| C’est elle qui nous permet de créer des plats 
			| qui donnent toujours plus de saveur à votre quotidien.
			| Nos engagements s’inspirent de notre amour de la bonne cuisine.