extends ../partials/layouts/main-layout2.pug

block main 
  .font-resp
    include ../partials/sliders/hero-slider.pug
    include ../partials/components/thumb-grid.pug
    include ../partials/components/prefooter.pug