extends ../partials/layouts/main-layout.pug

block main
  .container
    ul
      li
        a(href="home.html")
         .icon-play home Page
      li
        a(href="landing-produit.html")
         .icon-play landing-produit
