extends ../partials/layouts/main-layout.pug

block main
  .container
    ul(style="min-height:400px")
      li
        a(href="home.html") Home Page
      li
        a(href="home-font-resp.html") Home Page resp font example
      li
        a(href="landing-produit.html") Landing-produit
      li
        a(href="produit.html") Produit
      li
        a(href="engagements.html") engagements
      li
        a(href="environnement.html") environnement
      li
        a(href="engagement-manifest.html") engagement-manifest
      li
        a(href="nutrition.html") nutrition
      li
        a(href="inspiration.html") Inspiration

