extends ../partials/layouts/main-layout.pug

block main
  include ../partials/sliders/produit-slider.pug
  include ../partials/components/inspiration-block.pug
  include ../partials/components/gallery2.pug