extends ../partials/layouts/main-layout-filter.pug

block main
  include ../partials/sliders/produit-slider.pug
  include ../partials/components/filter-block.pug
  include ../partials/components/gallery.pug