.container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    @include media('>1920px') {
        transform-origin: 50% 0;
        max-width: 1443px;
        transform: scale(1.334);
        padding-top: 70px;
    }
}

body {
    padding-top: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eef1ef;
    background-image: url('../images/body-bg.png');
    background-position: 50% 50%;
    font-size: 1.11vw;
    min-height: 100%;
    @include media('<tablet') {
        font-size: 16px;
    }
    @include media('>1920px') {
        font-size: 16px;
        padding-top: 0px !important;
    }
    .wrapper {
        padding: 4.8vw 0 0 0;
        @include media('<tablet') {
            padding-top: 89px;
        }
        @include media('>1920px') {
            padding-top: 50px !important;
        }
    }
}

.cursive {
    font-family: $font-felt;
    font-weight: 400 !important;
}

.marked-red {
    color: $red;
}

.text-center {
    text-align: center;
}

.title-row {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.08vw;
    font-weight: 400;
    @include media('>1920px') {
        font-size: 30px;
    }
    @include media ('<tablet') {
        letter-spacing: -.6px;
    }
    @include media ('<phone') {
        font-size: 24px;
    }
    &.cursive {
        font-size: 5vw;
        line-height: .7;
        @include media('>1920px') {
            font-size: 72px;
        }
        @include media ('<tablet') {
            line-height: .7;
        }
        @include media ('<phone') {
            font-size: 58px;
        }
    }
}

.additional-indents {
    padding: 0 4.5%;
    @include media('<tablet') {
        padding: 0 2.6%;
    }
    @include media('<640px') {
        padding: 0 7px;
    }
}

.container-fluid {
    padding: 0 15px;
}

.hidden-desktop {
    display: none;
    padding-top: 30px;
    @include media('<tablet') {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate30 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(30deg);
    }
}
.rotate30 {
    animation-name: rotate30;
    opacity: 1 !important;
    visibility: visible !important;
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(1);
        
    }
    60% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(.85);
    }
}
.fadeInZoom {
    animation-name: fadeInZoom;
}

.fadeIn {
    animation-name: fadeIn;
}

.animation-opacity {
    opacity: 0;
    animation-fill-mode: forwards;
}

.merged-thumbs .animation-opacity {
    @include media('>=tablet') {

        opacity: 0;
      
    }
}

.thumb.animation-opacity{
    @include media('>=tablet') {
        opacity: 0;
    }
}

@keyframes swing {
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.swing {
    animation-name: swing;
    opacity: 1 !important;
    visibility: visible !important;
}

@keyframes slideInRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slideInRight {
    animation-name: slideInRight;
    opacity: 0;
    animation-fill-mode: forwards;
}

.animation-tablet {
    @include media('>=tablet') {
        transform: scale(1) !important;
    }
}

@keyframes zoom103 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}

.thumb-col .zoom103,
.grid-item .zoom103 {
    opacity: 1 !important;
    visibility: visible !important;
    animation-fill-mode: forwards;
    background-color: $white;
    @include media('<tablet') {
        animation-name: zoom103;
    }
    @include media('>=tablet') {
        transform: scale(1) !important;
    }
}

.product-thumb.zoom103 {
    @include media('>=tablet') {
        @include animate(transform);
        transform: scale(1) !important;
        opacity: 1 !important;
        visibility: visible !important;
        &:hover {
            transform: scale(1.03) !important;
        }
    }
    @include media('<tablet') {
        opacity: 1 !important;
        visibility: visible !important;
        animation-fill-mode: forwards;
        background-color: $white;
        animation-name: zoom103;
        
    }
}

.inspiration-col.zoom103 {
    @include media('>=tablet') {
        @include animate(transform);
        transform: scale(1) !important;
        opacity: 1 !important;
        visibility: visible !important;
        &:hover {
            transform: scale(1.03) !important;
        }
    }
    @include media('<tablet') {
        opacity: 1 !important;
        visibility: visible !important;
        animation-fill-mode: forwards;
        background-color: $white;
        animation-name: zoom103;
    }
}

.products-row__item.text-center.wow.zoom103 {
    @include media('>=tablet') {
        @include animate(transform box-shadow);
        transform: scale(1) !important;
        opacity: 1 !important;
        visibility: visible !important;
        &:hover {
            transform: scale(1.03) !important;
        }
    }
    @include media('<tablet') {
        opacity: 1 !important;
        visibility: visible !important;
        animation-fill-mode: forwards;
        background-color: $white;
        animation-name: zoom103;
    }
}

.desk-hidden {
    display: none;
    @include media('<tablet') {
        display: block;
    }
}

.tab-hidden {
    display: block;
    @include media('<tablet') {
        display: none;
    }
}