.wrapper {
 
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    padding-top: 90px;
    background-color: #eef1ef;
    background-image: url('../images/body-bg.png');
    background-position: 50% 50%;
}

.cursive {
    font-family: $font-felt;
    font-weight: 400 !important;
}

.marked-red {
    color: $red;
}

.text-center {
    text-align: center;
}

.title-row {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    @include media ('<tablet') {
        letter-spacing: -.6px;
    }
    @include media ('<phone') {
        font-size: 24px;
    }
    &.cursive {
        font-size: 72px;
        line-height: .7;
        @include media ('<desktop') {
            line-height: .7;
        }
        @include media ('<phone') {
            font-size: 58px;
        }
    }
}

.additional-indents {
    padding: 0 4.5%;
    @include media('<tablet') {
        padding: 0 2.6%;
    }
    @include media('<640px') {
        padding: 0 7px;
    }
}

.container-fluid {
    padding: 0 15px;
}

// .font-resp{
//     .text-holder{
//     font-size: 1.2vw !important;
//     }
//     .slide-title{
//         font-size:1.8vw !important ;
//     }
//     .thumb-col .h3{
//         font-size: 2.5vw !important;
//     }
//     .thumb-title{
//         font-size: 1.8vw !important;
//     }
//     .descr-holder{
//         font-size: 1.16vw !important;
//     }
//     .prefooter-banner__title{
//         font-size: 2.8vw !important;
//     }
//     .prefooter-banner__sub-title{
//         font-size: 1.3vw !important;
//     }
//     .main-nav a{
//         font-size: 1.1vw !important ;
//     }
//     .section-headline .h1{
//         font-size: 5vw !important;
//     }
//     .section-headline .h4{
//         font-size: 2.1vw !important;
//     }
// }
// .wrapper{
//         width: 600px;
//         height: 400px;
//         padding: 50px;
//         text-align: center;
//         background: white;
//         position: relative;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//         transform-origin: center center;
// }

body {
    padding-top: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .wrapper {
        padding: 4.8vw 0 0 0;

        @include media('<tablet') {
            padding-top: 89px;
        }
    }
    min-height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.animation-opacity {
    opacity: 0;
    animation-fill-mode: forwards;
}
.merged-thumbs .animation-opacity {
    @include media('>=tablet') {
        opacity: 1 !important;
        visibility: visible !important;
    }
}
.section-headline {}

@keyframes swing {
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.swing {
    animation-name: swing;
    opacity: 1 !important;
    visibility: visible !important;
}

@keyframes slideInRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slideInRight {
    animation-name: slideInRight;
    opacity: 0;
    animation-fill-mode: forwards;
}

.animation-tablet {
    @include media('>=tablet') {
        transform: scale(1) !important;
    }
}

@keyframes zoom103 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}

.thumb-col .zoom103,
.grid-item .zoom103 {
    opacity: 1 !important;
    visibility: visible !important;
    animation-fill-mode: forwards;
    background-color: $white;
    @include media('<tablet') {
        animation-name: zoom103;
    }
    transform: scale(1) !important;
}

.product-thumb.zoom103 {
    @include media('>=tablet') {
        @include animate(transform);
        transform: scale(1) !important;
        opacity: 1 !important;
        visibility: visible !important;
        &:hover {
            transform: scale(1.03) !important;
        }
    }
    @include media('<tablet') {
        opacity: 1 !important;
        visibility: visible !important;
        animation-fill-mode: forwards;
        background-color: $white;
        animation-name: zoom103;
        transform: scale(1) !important;
    }
}

.inspiration-col.zoom103 {
    @include media('>=tablet') {
        @include animate(transform);
        transform: scale(1) !important;
        opacity: 1 !important;
        visibility: visible !important;
        &:hover {
            transform: scale(1.03) !important;
        }
    }
    @include media('<tablet') {
        opacity: 1 !important;
        visibility: visible !important;
        animation-fill-mode: forwards;
        background-color: $white;
        animation-name: zoom103;
        transform: scale(1) !important;
    }
}

.products-row__item.text-center.wow.zoom103 {
    @include media('>=tablet') {
        @include animate(transform box-shadow);
        transform: scale(1) !important;
        opacity: 1 !important;
        visibility: visible !important;
        &:hover {
            transform: scale(1.03) !important;
        }
    }
    @include media('<tablet') {
        opacity: 1 !important;
        visibility: visible !important;
        animation-fill-mode: forwards;
        background-color: $white;
        animation-name: zoom103;
        transform: scale(1) !important;
    }
}