.hero-slider {
    position: relative;
    @include media('<desktop') {
        min-width: 188%;
        margin-left: -44%;
    }
    @include media('<tablet') {
        min-width: 190%;
        margin-left: -45%;
    }
    .owl-dots {
        position: absolute;
        bottom: 213px;
        left: 50%;
        transform: translateX(-50%);
        @include media('<desktop') {
            bottom: 215px;
        }
        @include media('<tablet') {
            bottom: 241px;
        }
        .owl-dot {
            outline: none;
            &.active {
                span {
                    background-color: #eee;
                    &:after {
                        width: 100%;
                        animation: myslider 7s forwards linear;
                        opacity: 1;
                    }
                }
            }
            span {
                width: 75px;
                height: 4px;
                border-radius: 4px;
                background-color: #eee !important;
                border: none;
                display: block;
                position: relative;
                overflow: hidden;
                
                @include media('<tablet') {
                    width: 50px;
                    max-width:10vw;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    background-color: $red;
                    width: 0;
                }
            }
        }
    }
    .text-holder {
        position: absolute;
        top: calc(100% - 95px);
        max-width: 620px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $white;
        padding: 50px 45px 26px;
        text-align: center;
        min-height: 203px;
        @include media('<widescreen') {
            font-size: 15px;
        }
        @include media('<desktop') {
            font-size: 14px;
            max-width: 716px;
            padding-top: 64px;
        }
        @include media('<tablet') {
            max-width: 90vw;
            top: calc(100% - 120px);
            padding-top: 45px;
        }
        p {
            line-height: 1.5;
            margin-bottom: 7px;
        }
        .btn {
            position: absolute;
            bottom: -24px;
            padding: 23px 10px;
            min-width: 174px;
            left: 50%;
            transform: translateX(-50%);
            &:before {
                content: '';
                position: absolute;
                left: -6px;
                right: -6px;
                top: 0;
                height: 14px;
                border-left: 6px solid $white;
                border-right: 6px solid $white;
                @include media('<desktop') {
                    left: -17px;
                    right: -17px;
                    border-left: 17px solid $white;
                    border-right: 17px solid $white;
                }
            }
        }
        .slide-title {
            display: block;
            font-size: 29px;
            margin-bottom: 5px;
            font-weight: 600;
            @include media('<tablet') {
                font-size: 22px;
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            pointer-events: none;
            border: 2px solid $red;
        }
    }
    .owl-stage-outer {
        padding-bottom: 162px;
        overflow: visible;
    }
}

@keyframes myslider {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}